{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back to guidance index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Birds on farmland</h1>
      <p class="govuk-body-l">This guidance is targeting farmland birds, which includes the following group of birds: grey partridge, barn owl, skylark, yellowhammer, yellow wagtail, corn bunting, turtle dove, curlew, lapwing, stone curlew, tree sparrow, linnet and reed bunting.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <!-- <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-much">How much will be paid</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#advice">Advice and suggestions for how to carry out this option</a>
                <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#location">Pick the right location</a></li>
                </ol>
              </li>
            </ol>

          </nav>
        </aside> -->

        <h2 id="how-much" class="govuk-heading-l">Why is your farm important for birds?</h2>

        <p>The birds on your farm indicate the overall health of wildlife found on the farm, as they sit high up the food chain. If bird populations are doing well then it suggests that the plants and insects that they feed on are thriving too.</p>
        <p>Farmland birds need farmland and farmers. Farmers and the farming community are vital in helping to maintain and increase farmland bird populations across England. The land management skills and knowledge that farmers use to run their farm businesses are crucial to this. Farmland birds need your continued help and expertise.</p>

        <h2 id="how-much" class="govuk-heading-l">What birds can I help on my farm?</h2>

        <p>Some of the birds found on your farm are regarded as more generalist species. These are able to adapt to nest, forage and feed across a wide range of land uses and habitats, using different food sources, for example: stock dove, blackbird, robin, wren and chaffinch. The populations of these species are tending to do well across the country.</p>
        <p>For other species this is not the case. The country’s farmland bird populations have declined sharply since the mid-1970s. Some of the more specialist species such as grey partridge, corn bunting, and skylark have declined by over 50%. A broad range of studies show that these declines are due to the loss of breeding and year round foraging habitats. This means that our farmland birds have fewer places to nest, raise fewer young and are less able to survive the winter.</p>

        <h2 id="how-much" class="govuk-heading-l">Land management for birds</h2>

        <p>To help birds on your farm you need to put in place a wide range of habitats that can provide the essential requirements that birds need to survive and breed successfully. These are:</p>

        <p>SYMBOLS</p>

        <p>Look out for these symbols to find advice on how to provide each resource. In some cases, you can provide a resource as part of land management that seeks to restore or create semi-natural habitats.</p>
        <p>For example sympathetic management of Hedgerows will provide the right structure and shelter for roosting and nesting birds. Hedgerows provide food with berries in the autumn and winter and invertebrate chick food through the spring and summer months.</p>
        <p>The same will be true for management of Flower-rich meadows, Grasslands and Scrub. The correct management of these habitats will benefit a wide range of bird species found on your farm.</p>
        <p>In some situations, there will be a need for highly tailored management of a whole habitat to benefit the species found there. For example breeding waders found on Lowland wet grasslands or Upland in-bye grasslands. The right management of these habitats will benefit breeding lapwing, curlew and snipe.</p>
        <p>For species more associated with arable farmland, it is important to provide in-field management that gives the right mix of nesting habitat, spring food, and winter food – the ‘Big Three’ approach. The Arable farmland birds guidance seeks to do this and will benefit species such as grey partridge, skylark, yellow wagtail, tree sparrow, linnet, reed bunting and yellowhammer.</p>
        <p>Some species will be found in more than one different habitat. For example lapwings will breed on arable farmland, lowland wet grassland and upland in-bye grassland. While skylarks will breed in a variety of habitats including lowland and upland grassland, on moorland and arable farmland.</p>

        <p>SYMBOL</p>

        <p>Other species like turtle dove, corn bunting, stone curlew and black grouse require a more tailored approach. Actions for these so-called ‘bespoke species’ are more difficult to deliver and need to be highly targeted to be effective. Actions at the farm-scale can potentially make a big difference to local populations.</p>
        <p>These actions are typically most successful following specialist advice from a suitable partner organisation. There are details of these organisations in the specific bespoke species guidance. Some form of bird monitoring will most likely be beneficial to inform tweaking of the management to achieve greater outcomes. The partner organisations referenced may be able to arrange this.</p>

        <h2 id="how-much" class="govuk-heading-l">Three important steps to helping farmland birds on your farm</h2>

        <p>Taking action for priority birds on your land could be as simple as providing the right land management for a piece of semi-natural habitat. It could also mean using an appropriate combination of management techniques for farmland birds, or tailored management targeted for one or more bespoke species. It could mean doing all of these. The following steps will help you to develop and put in place management techniques that will really help farmland birds.</p>

        <p><strong>Step 1:</strong> Find out what farmland birds are on your land or likely to be present in the surrounding landscape:</p>
        <p>Use web-based and other, local data sources to help you determine what priority birds are likely to be on your land or could be encouraged to colonise if the right conditions are provided. Speak to an adviser to find out whether there are any landscape-scale initiatives, such as a farmer cluster, targeting birds or other outcomes in your area.</p>

        <p><strong>Step 2:</strong> Review the guidance for the semi-natural, farmland habitats and bespoke species that you may wish to target with management:</p>
        <p>You can find this information using the links given below. This will give you a feel for the management actions that may be needed to target different bird groups and bespoke species, and whether this is feasible or desirable on your land. It may be worthwhile seeking advice from an adviser and/or a specialist organisation that has experience with the habitats and species concerned.</p>

        <p><strong>Step 3:</strong> Decide what you will target and how you will apply the management actions that are applicable to your land holding:</p>

        <p>Use the relevant guidance to help achieve the right management, in the right places, at the right scale and quality. We know this is vital to successfully providing what birds need at the farm scale.</p>


        <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">Farmland bird habitats</th>
              <th class="govuk-table__header app-custom-class" scope="col">Bespoke Species</th>
              <th class="govuk-table__header app-custom-class" scope="col">Semi-natural habitats</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">
                <ul class="govuk-list">
                  <li><a class="govuk-link" href="#">Arable farmland birds</a></li>
                  <li><a class="govuk-link" href="#">Grassland farmland birds</a></li>
                  <li><a class="govuk-link" href="#">Lowland wet grasslands</a></li>
                  <li><a class="govuk-link" href="#">Upland in-bye grasslands</a></li>
                </ul>
              </th>
              <th class="govuk-table__cell">
                <ul class="govuk-list">
                  <li><a class="govuk-link" href="#">Turtle dove</a></li>
                  <li><a class="govuk-link" href="#">Stone curlew</a></li>
                  <li><a class="govuk-link" href="#">Ciri bunting</a></li>
                  <li><a class="govuk-link" href="#">Corn bunting</a></li>
                  <li><a class="govuk-link" href="#">Black grouse</a></li>
                </ul>
              </th>
              <th class="govuk-table__cell">
                <ul class="govuk-list">
                  <li><a class="govuk-link" href="#">Hedgerows</a></li>
                  <li><a class="govuk-link" href="#">Flower-rich meadows</a></li>
                  <li><a class="govuk-link" href="#">Grasslands</a></li>
                  <li><a class="govuk-link" href="#">Scrub</a></li>
                </ul>
              </th>
            </tr>
          </tbody>
        </table>



        <!-- <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col"><p>Requirements</p></th>
              <th class="govuk-table__header app-custom-class" scope="col"><p></p></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><p>Management technqiues</p></th>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li><a class="govuk-link" href="#">
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><p>Additional information</p></th>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table> -->



                
      </div>
    </div>
  </div>
{% endblock %}
