{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back to guidance index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Identify and improve cultural heritage assets on your land</h1>
      <p class="govuk-body-l"></p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l">Use this guidance to help you identify and understand the historic features on your land.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <div class="app-c-published-dates " lang="en">
          <p>Published 26 February 2019
          <br>
          From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a></p>
        </div>

        <!-- <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-much">How much will be paid</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#advice">Advice and suggestions for how to carry out this option</a>
                <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#location">Pick the right location</a></li>
                </ol>
              </li>
            </ol>

          </nav>
        </aside> -->

        <p>The guidance deals with designated and undesignated cultural heritage assets. It directs you to where you can find out more about different historic feaures. Your actions can help protect and enhance these historic features. This guidance will help you decide how to best manage historic sites in different land uses.</p>

                
      </div>
    </div>
  </div>
{% endblock %}
