{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back to guidance index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Overarching bird guidance</h1>

      <p class="govuk-body-l">Birds are extremely popular with the general public, having massive cultural significance. Encounters with birds are known to contribute to quality of life.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <!-- <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-much">How much will be paid</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#advice">Advice and suggestions for how to carry out this option</a>
                <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#location">Pick the right location</a></li>
                </ol>
              </li>
            </ol>

          </nav>
        </aside> -->

        <p>England's birds are arguably the most watched, most counted and most studied of those anywhere in the world. We have un-paralleled information, bettern than for any other species group, on where species are and what land management they need to survive and thrive. This means that high quality guidance can be provided for most situations, increasing the likelihood that land managers can deliver successful outcomes for target species.</p>
        <p>Helping birds is all about putting in place the right management techniques across the countryside that will increse populations of a range of wild bird species. To do this, you need to understand the species that your holding supports, or could support. You need to understand what those species require andhow to provide what they need.</p>
        <p>All bird species have three essential requirements to ensure their survival and help successful breeding. These are:</p>

        <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">IMAGE</th>
              <th class="govuk-table__header app-custom-class" scope="col"><p><strong>Winter food:</strong> Birds have a variety of ways of finding enough food to get them through the winter. Some, especially those that eat flying insects, migrate away from the UK. Others come here to avoid harsher winters elsewhere. Many stay here all year round. For those birds that spend the winter here, providing enough accessible food through the winter can help them survive. The ways that you can do this vary between species of bird. Look out for this symbol to find advice on how to provide winter food for particular birds.</p></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row">IMAGE</th>
              <td class="govuk-table__cell"><p><strong>Nesting habitat:</strong> All birds need suitable places to nest, where they are safe from disturbance and predation. Different bird species have different nesting needs and some have very specialised requirements. These can include nesting in hollows or branches of trees, hedgerows and hedgerow bottoms, or on open ground in grass fields or arable crops. Look out for this symbol to find advice on how to provide suitable nesting habitat for particular birds.</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row">IMAGE</th>
              <td class="govuk-table__cell"><p><strong>Spring food:</strong> All birds need an adequate supply of energy and nutrient rich food to rear their chicks with. Many chicks eat the same food as adults, but for some species, their chicks need different food to adult birds. Some birds that only eat seds as adults feed their chicks insects, as this provides protein to support their growth. Look out for this symbol to find advice on how to provide spring food for particular birds.</td>
            </tr>
          </tbody>
        </table>

        <p>When managing for wild birds, the aim is to meet the essential requirements that birds need for the parts of the year when they are on your land. The guidance indicates which bird species migrate away from the UK, or to different areas of the UK for part of the year.</p>
        <p>Some bird population changes may be due to factors beyond your control. These include weather, disease and poor winter habitat quality for migrant species. Research shows that significant population declines are due to a combination of factors. Addressing one of those factors may enable the population to increase. Taking action on the factors you can control on your land, will benefit farmland bird populations.</p>
        <p>Many bird species need their essential requirementsto be met on a landscape scale to have a viable population. It may not be enough to provide resources for a bird species on your land alone. The guidance reflects where there is evidence of this for particular species. In these cases, you may want to work with your neighbours to help meet the areas of management needed.</p>
        <p>For all bird species, the larger the area and more widespread the provision of resources across a landscape, the greater the likely increase in populations. Using the guidance on management for wild birds will help provide the resources that birds need. This will in turn make populations more resilient into the future.</p>

        <h2 id="#" class="govuk-heading-l">How can I find out more?</h2>

        <p>All species have different needs, but some farming systems and land uses enable grouping of species. This may help you identify the best management techniques for your land. Guidance is available on how to meet the needs of the following groups of birds:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">farmland birds</a> - grey partridge, barn owl, skylark, yellowhammer, yellow wagtail, corn bunting, turtle dove, curlew, lapwing, stone curlew, tree sparrow,linnet and reed bunting</li>
          <li>wading birds - snipe, lapwing, curlew and redshank</li>
          <li>upland birds - twite, ring ouzel, black grouse, golden plover and dunlin</li>
          <li>woodland birds -lesser spotted woodpecker, willow tit, hawfinch, wood warbler, pied flycatcher, tree pipit</li>
        </ul>

        <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">IMAGE</th>
              <th class="govuk-table__header app-custom-class" scope="col"><p><strong>Bespoke species requirements:</strong> can be anything that a particular species needs to survive or breed successfully. Meeting these requirements can involve bespoke tailoring of standard management techniques, for example in habitat management or wild bird seed mixes.</p></th>
            </tr>
          </thead> 
        </table>

        <p>To help you think about what you could do on your land to maintain and grow wild bird populations consider the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>identify the farming system or land use which is most relevant to your land -this will help you identify which groups of bird species are likely to be present on your land</li>
          <li>follow the relevant guidance for the groups of bird species you wish to target - the guidance describes what you can do on your land for these groups of birds and how to find out if you have a bespoke species</li>
        </ul>

        <h3 class="govuk-heading-m"></h3>

                

        



                
      </div>
    </div>
  </div>
{% endblock %}
