{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back to guidance index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Winter bird food plots for corn buntings</h1>
      <p class="govuk-body-l">Use this guidance along with the <A href="#">Thriving corn buntings: managing your land effectively</a> guidance. You should use winter bird food plots along with other management techniques to meet the needs of corn buntings.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <!-- <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-much">How much will be paid</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#advice">Advice and suggestions for how to carry out this option</a>
                <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#location">Pick the right location</a></li>
                </ol>
              </li>
            </ol>

          </nav>
        </aside> -->

        <h2 id="how-much" class="govuk-heading-l">Why provide winter food for birds?</h2>

        <p>Winter bird food plots provide seeds over winter for many declining farmland bird species, including corn buntings. They are a valuable food source during the winter ‘hungry gap’ and can also provide insect food during spring and summer. During the growing season they can also support rare arable plants, such as cornflower, pheasant’s eye and shepherd’s needle.</p>
        <p>IMAGE</p>
        <p>Choose a good location for your plot, or you will have to work harder to make it successful. The best locations to easily establish and manage your plots that give high seed yields are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sunny and outh or south-west facing sites</li>
          <li>fertile and weed-free sites</li>
        </ul>
        <p>Locate your plots near to other foraging and roosting habitats, such as unharvested conservation headlands, stubble fields, fallow areas, ponds and ditches. This will reduce the distance birds have to travel to feed and will also minimise predation.</p>
        <p>You should avoid:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sites with a high weed burden</li>
          <li>shady and/or north facing sites- these can lead to poor establishment and low seed production</li>
          <li>remote or inaccessible, such as field corners, which are difficult to get to and manage</li>
          <li>next to public highways or public rights of way, where there is likely to be regular disturbance</li>
        </ul>

        <p>IMAGE</p>

        <h2 id="how-much" class="govuk-heading-l">Plot size and shape</h2>

        <p>Plots for corn bunting should be at least 48m wide and 1ha. Smaller plots are more difficult to manage and often run out of seeds earlier in the winter than larger plots. Larger plots, of at least 1ha, are most likely to supply seed throughout the winter. They are easier to establish and manage using large modern machinery. This is especially true where plots are rectangular in shape.</p>

        <h2 class="govuk-heading-l">What to sow</h2>

        <p>You can sow winter bird food plots in either spring or autumn. When using autumn-sown mixes, you need to make sure that you supply enough seed every winter. Autumn-sown mixes do not provide any seed in the first winter after establishment. Use autumn-sown winter bird food plots to provide no more than half of winter seed requirements for corn buntings. <a href="#">Supplementary feeding</a> is an effective way of making sure you provide enough food in the first winter of autumn-sown plots.</p>


        <h3 class="govuk-heading-m">Spring-sown mix</h3>

        <p>Corn buntings prefer mixes with a higher proportion of cereals. An example one year spring-sown seed mix targeted at corn buntings is shown below. Sow it annually at 70 kg/ha on conventional 4-5 inch row spacings.</p>       

        <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">Crops to be sown</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Weight in kg/ha</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">
                <ul class="govuk-list">
                  <li>Spring barley</li>
                  <li>Spring wheat</li>
                  <li>Spring triticale</li>
                  <li>Spring oats</li>
                  <li>White millet</li>
                  <li>Linseed</li>
                  <li>White mustard</li>
                  <li>Quinoa</li>
                </ul>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <ul class="govuk-list">
                  <li>25.00</li>
                  <li>15.00</li>
                  <li>10.00</li>
                  <li>10.00</li>
                  <li>4.00</li>
                  <li>3.00</li>
                  <li>2.00</li>
                  <li>1.00</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong>70.00</strong></p>
              </td>
            </tr>
          </tbody>
        </table>

        <p>If your holding also supports tree sparrows, you can also provide seed for them by replacing 1-2 kg/ha of white millet with red millet. Quinoa can also be included at 2 kg/ha, which will also benefit insects and provide song posts for singing corn buntings.</p>

        <h3 class="govuk-heading-m">Autumn-sown mix</h3>

        <p>Think about sowing an autumn-sown mix if establishing spring-sown mixes is difficult on your land. This may particularly apply if you farm on heavy soils and cannot sow cereals until late in the spring and have in the past consistently had problems with plot establishment.</p>
        <p>An example one year autumn sown mix targeting corn buntings to be sown annually at 65 kg/ha:</p>


        <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">Crops to be sown</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Weight in kg/ha</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">
                <ul class="govuk-list">
                  <li>Winter barley</li>
                  <li>Winter wheat</li>
                  <li>Winter triticale</li>
                  <li>Winter oats</li>
                  <li>Winter linseed</li>
                  <li>Mustard</li>
                  <li>Winter oilseed rape or forage rape</li>
                </ul>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <ul class="govuk-list">
                  <li>25.00</li>
                  <li>15.00</li>
                  <li>10.00</li>
                  <li>10.00</li>
                  <li>3.00</li>
                  <li>1.50</li>
                  <li>0.50</li>
                 </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong>65.00</strong></p>
              </td>
            </tr>
          </tbody>
        </table>

        <p>Flowering plants such as red clover add value to spring-sown and autumn-sown mixes by providing pollen and nectar for insects through the summer. These insects are also a source of food for corn buntings to feed their chicks. Fast growing annuals such as black medick, common vetch, crimson clover or phacelia can be used as alternatives to red clover.</p>

        <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">Flower species</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Recommedned seed rate (kg/ha)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">
                <ul class="govuk-list">
                  <li>Black medick</li>
                  <li>Common vetch</li>
                  <li>Crimson clover</li>
                  <li>Lucerne</li>
                  <li>Phacelia</li>
                  <li>Red clover</li>
                </ul>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <ul class="govuk-list">
                  <li>0.50</li>
                  <li>5.00</li>
                  <li>1.00</li>
                  <li>0.30</li>
                  <li>0.50</li>
                  <li>0.50</li>
                 </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <h2 id="" class="govuk-heading-l">When to sow</h2>

        <h3 id="" class="govuk-heading-m">Spring-sown plots</h3>

        <ol class="govuk-list govuk-list--number">
          <li>Establish spring-sown plots between mid-March and early June.</li>
          <li>Drill the cereal component first in March or April at a sowing depth of 2.5cm.</li>
          <li>Drill the remaining crops at a sowing depth of 1cm, after late May, once the soil is warmer and there is less chance of frost.</li>
          <li>When sowing in one pass, sow from early May at a sowing depth of 1cm.</li>
        </ol>

        <h3 id="" class="govuk-heading-m">Autumn-sown plots</h3>

        <p>Sow autumn-sown plots between September and the end of October, at a sowing depth of 1cm.</p>

        <h2 id="" class="govuk-heading-l">How to sow</h2>

        <p>Different size seeds often settle out during transit and drilling. Larger seeds settle on the top and smaller seeds at the bottom of the hopper.  Mix the seed in the hopper immediately before and during drilling. This prevents uneven distribution of crops in your plot.</p>
        <p>You can drill or broadcast seed, both methods are used successfully. You can also combine both methods. To combine methods, drill cereals first, in late March or April. Then broadcast the smaller seeds into the developing cereals from May.</p>
        <p>Factors that will influence your choice include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>availability of equipment</li>
          <li>experience</li>
          <li>seed mix</li>
          <li>seed bed quality</li>
          <li>size of your plot</li>
          <li>your chosen establishment method</li>
        </ul>
        <p>If drilling, sow crops on a conventional 4-5 inch row spacing. In most situations, roll afterwards to help keep moisture, ensure good seed soil contact and reduce slug damage. On heavier soils, you may have to roll before sowing to get a level seed bed. Do not roll where there is a risk of capping.</p>

        <h3 id="" class="govuk-heading-m">A one pass versus a two pass operation</h3>

        <p>Seed size varies considerably, which makes it difficult to sow all seeds in a mix at the correct depth. For instance, small seeded crops such as white millet, mustard and quinoa should be sown 1cm deep. Whereas cereal crops, such as spring barley, spring wheat and spring triticale should be sown at a depth of 2.5cm.</p>
        <p>The easiest way to sow all seeds at the right depth is to use a two pass operation:</p>

        <ol class="govuk-list govuk-list--number">
          <li>Sow the cereal component between February and early April across the whole area, at a sowing depth of 2.5cm.</li>
          <li>Sow the remaining smaller seeded crops in May or June over the whole area at a sowing depth of 1cm. Sow either along or across the rows of cereals. Avoid rolling or drilling into the cereals if they have reached the stem extension growth stage. This may damage the cereal seedlings.</li>
        </ol>

        <p>This method allows both the cereals and smaller seeded crops to be sown at the best time and at the correct seed depth. The downside with this approach is an early sown cereal crop may out compete the small seeded crops, such as white millet and mustard.</p>
        <p>Another approach is to use a one pass operation. Sow the entire mix as one operation in late April or early May at a sowing depth of 1cm. You will have to sow all seeds at the same depth. This will mean some seeds are not sown at their optimal depth, which will reduce germination for those crops. It is recommended that you sow at a shallower seed depth to ensure the smallest seeds are not sown too deep.</p>

        <h2 id="" class="govuk-heading-l">Crop nutrition</h2>

        <p>All the sown crops in your winter bird food plots will benefit from enough crop nutrition. Soil testing the plot areas is advisable and will help you know what fertiliser and how much to apply. N, P and K fertiliser is important, particularly where plots are grown on light soils or in the same place for several years.</p>
        <p>Seed production is the main aim, so it is important to apply organic manure or inorganic fertiliser. Typical annual application rates of nitrogen are about 50-60 kg/ha of N. Apply similar amounts of P and K if needed. You can consider using manganese, lime and other nutritional products to correct pH and other deficiencies as necessary.</p>
        <p>All fertiliser recommendations must be provided by a FACTS (Fertiliser Advisers Certification and Training Scheme) qualified adviser. A FACTS adviser will take into account: soil type, soil N supply, soil test results, previous cropping and crop requirements.</p>

        <h2 id="" class="govuk-heading-l">Weed control</h2>

        <p>You do not need to keep winter bird food plots completely weed free. Many weeds, such as knotgrass, black bindweed, fat hen, and chickweed, are a valuable food source for farmland birds and other wildlife. They will enhance the food value of your winter bird food plots. Consider weed control where there is a high weed burden that will result in poor crop establishment and/or seed production.</p>
        <p>Weed control outside of the crop is generally more effective, as there are more options available. Weed control on an existing plot can be successful, but is usually more difficult. In an existing plot, there is a risk of herbicide damage to susceptible crops. There are also legal restrictions on which crops herbicides can be used on.</p>
        <p>Always consult with a BASIS (British Agrochemical Standards Inspection Scheme) qualified agronomist when using herbicides in winter bird food plots. A BASIS agronomist will make sure you use the most appropriate product and that dose rates will be effective on target weeds and safe to all crops. Only use herbicides approved for use on land temporarily taken out of production or game cover.</p>

        <p>IMAGE</p>

        <p>The following weed control options are available:</p>

        <ol class="govuk-list govuk-list--number">
          <li>Avoid locations with a high weed burden. Weeds such as bristly ox-tongue, couch, creeping thistle, docks, redshank and alien millet species, such as barnyard grass or yellow foxtail, are hard to control in winter bird food plots.</li>
          <li>Control weeds before sowing. Cultivate to encourage weed seeds to germinate. Then spray these weeds with a non-selective herbicide, to achieve a sterile weed free seedbed. To achieve the best results, delay drilling and adjust your seed mix to include crops suited to later sowing.</li>
          <li>Where possible, move plots to a new weed-free location. Corn buntings will nest in the same place each year. If corn buntings use your winter bird food plots to nest in, do not move your plot too far from the original location.</li>
          <li>Overall application of herbicide, to control broad-leaved weeds, such as bristly ox-tongue, thistles, docks, nettle and rosebay willowherb.</li>
          <li>Spot application of herbicide. To control injurious and other hard to control broad-leaved weeds, such as bristly ox-tongue, thistles, docks, nettle and rosebay willowherb. Only use herbicides approved for use in hand-held equipment such as a knapsack or hand lance.</li>
          <li>Overall application of a graminicide herbicide, to control grass weeds such as barnyard grass and yellow foxtail. Some grass species, such as annual meadow-grass, black-grass, Italian rye-grass and wild oat can be partially or fully resistance to certain graminicides, giving little or zero control. Where the target grass weeds have known tolerance or resistance to graminicides, the use of these herbicides is not recommended.</li>
          <li>Hand removal of weeds. Remove injurious and hard to control weeds such as spear thistle, docks and common ragwort before they have completed flowering and set seed. This can be a very effective way of preventing weed seeds returning to the seed-bank.</li>
          <li>Localised topping of weeds. This approach may remove the seed heads of crops growing among the target weeds. It can also be harmful to wildlife, such as fledgling birds and leverets. So, localised topping should only ever:
            <ul class="govuk-list govuk-list--bullet">
              <li>be a last resort</li>
              <li>be operated at least 30cm off the ground, to minimise harm to wildlife</li>
              <li>be applied to no more than 10% of the plot area</li>
            </ul>
          </li>
        </ol>

        <h2 id="" class="govuk-heading-l">Pest control</h2>

        <h3 id="" class="govuk-heading-m">Flea beetle</h3>

        <p>Flea beetle damage can be an issue on brassica and oilseed crops such as mustard, particularly at early crop emergence stage. Establishment in good growing conditions, when soil and air temperatures are warmer, can sometimes help plants grow away from flea beetle damage. Bad damage which affects establishment may warrant an insecticide treatment. Any recommendation should be made by a BASIS qualified agronomist and applied in accordance with the label requirements.</p>

        <h3 id="" class="govuk-heading-m">Slugs</h3>

        <p>Slugs can be a significant problem, particularly on heavier soils and where plots are repeatedly sown in the same place. The most effective slug control method is to produce a firm level seedbed by rolling after sowing.</p>
        <p>Slug pellets can accidentally poison non-target species and contaminate surface and ground waters if not applied correctly. So, only use them as a last resort. If you plan to use slug pellets:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>test bait first to confirm damaging slug population thresholds are being exceeded</li>
          <li>consider using ferric phosphate based pellets, which show very low toxicity to other wildlife</li>
          <li>always apply metaldehyde based pellets in accordance with current Metaldehyde Stewardship best practice <a href="#">https://www.getpelletwise.co.uk</a></li>
        </ul>

        <h3 id="" class="govuk-heading-m">Other pests</h3>

        <p>Plots can also be attractive to a range of other pests such as hares, rabbits, pigeons and deer. Check crops regularly in the early stages. Use appropriate measures to prevent constant grazing, if necessary.</p>

        <h2 id="" class="govuk-heading-l">Retention date</h2>

        <p>Keep plots until the beginning of March to maximise the amount of time that you provide seeds and cover habitat for corn buntings. On heavier soils that require a longer cultivation window to prepare a consolidated, firm, fine and level seedbed, keep plots until the start of February. This allows more time for weathering to help break down the soil and create a more workable seedbed.</p>

        <h2 id="" class="govuk-heading-l">Failed or poorly established winter bird food plots</h2>

        <p>Assess germination success of spring-sown plots within 4 weeks of sowing and within 8 weeks for autumn-sown plots. Where establishment is poor it may be necessary to re-sow part of or the entire plot. Each situation will be different, depending on the remaining plant population and when re-sowing has to take place. Broadcasting seed into a standing crop may be appropriate, or in the worst cases you may need to start again.</p>
        <p>Consider how previous herbicide use may affect the success of re-establishment attempts. Many herbicides have some residual activity and low levels may still be present in the soil. If you are unsure, consult with a BASIS-qualified agronomist or seed supplier.</p>

        <h3 id="" class="govuk-heading-m">One year ‘rescue’ seed mixes to replace failed spring-sown plots</h3>

        <p>The following rescue seed mix contains some fast growing crops that can provide ripe seeds within 15 weeks of sowing:</p>

        <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">Crops to be sown</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Weight in kg/ha</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">
                <ul class="govuk-list">
                  <li>Buckwheat</li>
                  <li>Mustard</li>
                  <li>Fodder radish</li>
                  <li>Gold of pleasure</li>
                </ul>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <ul class="govuk-list">
                  <li>8.00</li>
                  <li>3.00</li>
                  <li>2.00</li>
                  <li>2.00</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong>15.00</strong></p>
              </td>
            </tr>
          </tbody>
        </table>

        <p>Sow this mix no later than mid-July. If it is sown later, the plot may provide useful cover habitat and late season pollen and nectar, but is unlikely to produce many ripe seeds for corn buntings over winter.</p>

        <h3 id="" class="govuk-heading-m">One year ‘rescue’ seed mixes to replace failed autumn-sown plots</h3>

        <p>Re-sow using the recommended one year spring-sown mix in the <a href="#">'What to sow'</a> section. If re-sowing from July onwards use the above rescue seed mix. You can adjust the seed mix and seed rates in consultation with your seed merchant, to suit local conditions and sowing date.</p>

        <h2 id="" class="govuk-heading-l">Supplementary feeding</h2>

        <p>You can mow strips up to 2-3m wide and 100m long through plots in December and January to help birds access shed seeds. Corn buntings will use these open areas to land and access the plot. You can also use these paths as a site for supplementary feeding.</p>
        <p>If your winter bird food plot has failed and you are unable to re-sow, you can provide supplementary food as a temporary alternative. Supplementary feeding between September and February will help replace the seed from a failed winter bird food plot. <a href="#">Supplementary feeding guidance</a> will help you provide the best supplementary food for corn buntings.</p>


                
      </div>
    </div>
  </div>
{% endblock %}
