
{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Environmental Land Management</span>
      <h1 class="govuk-heading-xl">
        Prototyped guidance
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Guidance for 18 March 2020</h2>
      <p>Taken from the ELM action list provided by JLP</p>

      <p><a href="draft-guidance-full/cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></p>

      <p><a href="draft-guidance-full/increase-organic-matter-soils-reduce-wind-erosion">Increase organic matter in soils to reduce wind erosion</a></p>

      <p><a href="draft-guidance-full/provide-drinking-water-livestock-reduce-sediment-water#keeping-records">Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></p>

      <p><a href="draft-guidance-full/use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></p>

      <p><a href="draft-guidance-full/fence-water-sources-livestock-prevent-erosion-contamination">Fence off water sources from livestock to prevent erosion and contamination</a></p>

      <p><a href="draft-guidance-full/create-maintain-hill-slope-tree-shelter-belts">Create or maintain hill slope tree shelter belts to reduce flooding</a></p>

      <h2 class='govuk-heading-l'>ELM guidance snippets for user research</h2>
      <p>10 September 2019</p>

      <table class="govuk-table">
          <caption class="govuk-table__caption">Thriving plants and wildlife</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">Level 1</th>
              <th class="govuk-table__header app-custom-class" scope="col">Level 2</th>
              <th class="govuk-table__header app-custom-class" scope="col">Level 3</th>
              <th class="govuk-table__header app-custom-class" scope="col">Level 4</th>
              <th class="govuk-table__header app-custom-class" scope="col">Level 5</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><a href="snippets/identify-maintain-wildlife-habitats-land">Identify and maintain wildlife habitats on your land</a></th>
              <td class="govuk-table__cell"><a href=""></a></td>
              <td class="govuk-table__cell"><a href="snippets/identify-species-rich-grassland">identify species-rich grassland</a></td>
              <td class="govuk-table__cell"><a href="snippets/manage-purple-moor-grass-rush-pasture">Manage purple moor grass and rush pasture</a></td>
              <td class="govuk-table__cell"><a href="snippets/manage-grassland-grazing-wildlife">Manage grassland grazing for wildlife on your land</a></td>            
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><a href=""></a></th>
              <td class="govuk-table__cell"><a href=""></a></td>
              <td class="govuk-table__cell"><a href=""></a></td>
              <td class="govuk-table__cell"><a href="manage-upland-hay-meadows">Manage upland hay meadows</a></td>
              <td class="govuk-table__cell"><a href="snippets/create-manage-connected-habitats">Create and manage connected habitats on your land</a></td>            
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><a href=""></a></th>
              <td class="govuk-table__cell"><a href=""></a></td>
              <td class="govuk-table__cell"><a href=""></a></td>
              <td class="govuk-table__cell"><a href="snippets/manage-chalk-limestone-grassland-uplands">Manage chalk and limestone grassland in the uplands</a></td>
              <td class="govuk-table__cell"><a href="snippets/manage-grassland-mowing-wildlife">Manage grassland mowing for wildlife on your land</a></td>            
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><a href=""></a></th>
              <td class="govuk-table__cell"><a href=""></a></td>
              <td class="govuk-table__cell"><a href=""></a></td>
              <td class="govuk-table__cell"><a href=""></a></td>
              <td class="govuk-table__cell"><a href="snippets/monitor-control-damaging-native-plants">Monitor and control damaging native plants on your land</a></td>            
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption">Beauty, heritage and engagement</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">Level 1</th>
              <th class="govuk-table__header app-custom-class" scope="col">Level 2</th>
              <th class="govuk-table__header app-custom-class" scope="col">Level 3</th>
              <th class="govuk-table__header app-custom-class" scope="col">Level 4</th>
              <th class="govuk-table__header app-custom-class" scope="col">Level 5</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><a href="snippets/preserve-cultural-heritage-assets">Preserve cultural heritage assets on your land</a></th>
              <td class="govuk-table__cell"><a href="snippets/identify-improve-cultural-heritage-assets">Identify and improve cultural heritage assets</a></td>
              <td class="govuk-table__cell"><a href=""></a></td>
              <td class="govuk-table__cell"><a href="snippets/manage-historic-sites-grassland">Manage historic sites in grassland</a></td>
              <td class="govuk-table__cell"><a href=""></a></td>          
            </tr>
          </tbody>
        </table>

        <br><br>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class='govuk-body-l'>ELM guidance first drafts</p>

      <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">First layer</th>
              <th class="govuk-table__header app-custom-class" scope="col">Second layer</th>
              <th class="govuk-table__header app-custom-class" scope="col">Third layer</th>
              <th class="govuk-table__header app-custom-class" scope="col">Fourth layer</th>
              <th class="govuk-table__header app-custom-class" scope="col">Fifth layer</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><a href="overarching-bird-guidance">Overarching bird guidance</a></th>
              <td class="govuk-table__cell"><a href="birds-on-farmland">Birds on farmland</a></td>
              <td class="govuk-table__cell"><a href="arable-farmland-birds">Arable farmland birds</a></td>
              <td class="govuk-table__cell"><a href="thriving-corn-buntings">Thriving corn buntings: managing your land effectively</a></td>
              <td class="govuk-table__cell"><a href="winter-food-plots-corn-buntings">Winter bird food plots for corn buntings</a></td>
              
            </tr>
            <!-- <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"></th>
              <td class="govuk-table__cell"></td>
            </tr> -->
          </tbody>
        </table>

        <br></br>

        <!-- <p class='govuk-body-l'>ELM guidance rewrites V1</p>

      <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col">First layer</th>
              <th class="govuk-table__header app-custom-class" scope="col">Second layer</th>
              <th class="govuk-table__header app-custom-class" scope="col">Third layer</th>
              <th class="govuk-table__header app-custom-class" scope="col">Fourth layer</th>
              <th class="govuk-table__header app-custom-class" scope="col">Fifth layer</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><a href="rewrites/overarching-bird-guidance-rewrite">Bird management overview</a></th>
              <td class="govuk-table__cell"><a href="rewrites/birds-on-farmland-rewrite">Farmland bird management</a></td>
              <td class="govuk-table__cell"><a href="rewrites/arable-farmland-birds-rewrite">Arable farmland bird management</a></td>
              <td class="govuk-table__cell"><a href="rewrites/thriving-corn-buntings-rewrite">Thriving corn buntings: managing your land effectively</a></td>
              <td class="govuk-table__cell"><a href="rewrites/winter-food-plots-corn-buntings-rewrite">Winter bird food plots for corn buntings</a></td>
            </tr>
          </tbody>
        </table> -->
      

    </div>
</div>

{% endblock %}
