{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">S010C: Create and maintain pollen and nectar plots</h1>
      <p class="govuk-body-l">Find out how to create and maintain flowered areas to help stop the decline of pollinating insects by providing the food they need.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 17 June 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#"></a></li>
            </ol>
          </nav>
        </aside>

        <!-- MAIN CONTENTS -->     

        <h2 class="govuk-heading-l">About pollen and nectar plots</h2>
        <p>A pollen and nectar plot is an area of flowers created to provide insects with the food they need to survive and pollinate. A plot consisting of many flower species will provide food for different types of pollinators. Managing your plot will ensure that it provides pollen and nectar for an extended period of time.</p>
        <p>By creating a pollen and nectar plot you will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>protect insects such as bees, butterflies and hoverflies which are declining in numbers</li>
          <li>help ensure pollination of food crops such as fruit and oilseed rape</li>
          <li>improve the health of nearby crops as the predatory insects using your plot feed on pests such as aphids</li>
          <li>provide food and shelter for farmland birds and their chicks</li>
          <li>add colour to the landscape</li>
        </ul>

        <h2 class="govuk-heading-l">How to sow pollen and nectar plots</h2>

        <h3 class="govuk-heading-m">Choose your location</h3>
        <p>Research has shown that the smallest solitary bees can fly around 250 metres between nectar and pollen sources. This means that from any flowering plot they should be able to reach other plots or crops within a circular range of nearly 20 hectares.</p>
        <p>When deciding where to locate your plots you should consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>whether any nectar sources already exist on your holding</li>
          <li>where your flowering crops which require pollination are located</li>
          <li>whether you have rights of way on your land and can locate your plots somewhere visible to the public</li>
        </ul>
        <p>You should aim to establish a minimum of five plots of at least 0.5 hectares for every 100 hectares of farmland. This should meet the foraging needs of most pollinators.</p>
        <p>Space your plots as evenly as possible across your land. Pollinators will then be able to use them as stepping stones to reach other plots or nectar sources.</p>
        <p>Multiple large plots allow pollinators to move to safety when you are carrying out agricultural operations in adjacent crops, such as the spraying of insecticides.</p>
        <p>You can sow plots as a block within a field or as a margin along the edge. Margins can be useful for creating corridors which link isolated areas of flower-rich habitat.</p>
        <p>Your plot is most likely to be successful if you choose an area which is sunny and low in fertility.</p>
        <p>You should avoid:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sites with a history of persistent weed problems such as common ragwort, docks, nettles or thistles</li>
          <li>fertile sites that will encourage weeds which will outcompete your sown flowers</li>
          <li>cool, damp or shady locations beside hedgerows, tree lines or woodland</li>
          <li>remote or inaccessible sites which are difficult to access or manage</li>
          <li>areas known to support rare arable plants – for these areas you should consider S015A Cultivated plots and margins for rare arable plants</li>
        </ul>

        <h3 class="govuk-heading-m">What to sow</h3>
        <p>A seed mix containing both legume and non-legume species will typically provide:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>high volumes of pollen and nectar between April and October</li>
          <li>a variety of flower colours and shapes that will be attractive to a range of pollinators such as bees, butterflies, hoverflies and wasps</li>
          <li>a plot which provides flowers every year for up to five years</li>
        </ul>
        <p>Do not include grasses in your mix as they can suppress the sown flower species.</p>
        <p>Sow a mix containing a minimum of 10 flowering species. At least four of these should be non-legumes. This should ensure that you still have at least five flowering species when your plot is four or five years old. At this point the short-lived species will be starting to decline in extent.</p>
        <p>If you have strongly acidic or alkaline soils then seek advice from your seed supplier when you are devising your mix. You should not include lucerne or sainfoin in a mix sown on acidic soils.</p>

        <h3 class="govuk-heading-m">Example seed mixes</h3>
        <p>These seed mixes can be varied to suit your individual circumstances and preferences. Your agronomist or seed supplier can provide advice on a suitable mix for your land.</p>
        <p>Your plot has a greater risk of partial or total failure if you sow too few seeds. This is more likely if conditions aren’t ideal during sowing and the first few weeks after germination. A poorly established plot is at risk of colonisation by weeds and will need to be re-sown sooner.</p>
        <p>Your overall sowing rate should take into account the following which may affect germination rate:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the relative seed size of flower species included in your mix</li>
          <li>seed-bed quality including available moisture within the seed-bed</li>
          <li>sowing date and weather conditions</li>
          <li>soil type</li>
          <li>weed and pest burden</li>
        </ul>
        <p>Some species can become too dominant, or a potential future weed. You can minimise this risk by using the following maximum seed rates for these species:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>borage - 3.00 kg/ha</li>
          <li>chicory - 0.20 kg/ha</li>
          <li>lucerne - 0.60 kg/ha</li>
          <li>phacelia - 0.70 kg/ha</li>
          <li>sweet clover - 0.60 kg/ha</li>
        </ul>
        <p>Your seed supplier should provide you with advice on an overall sowing rate on your land, for the mix you choose.</p>

        <h3 class="govuk-heading-m">When to sow</h3>
        <p>Pollen and nectar plots can be sown at any time if conditions are right for germination. This means:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sowing into a well-prepared seedbed that is at least 7°C and has some available moisture</li>
          <li>completing autumn sowings by the first week of September to decrease the risk of frosts affecting establishment</li>
          <li>delaying sowing if your seedbed is extremely dry or saturated</li>
        </ul>
        <p>Some annual species such as crimson or Persian clover are not frost-hardy. Do not include these in an autumn sown mix. Consult your seed supplier for advice on frost-hardy annuals if you will be autumn sowing.</p>

        <h3 class="govuk-heading-m">Create your seedbed</h3>
        <ol class="govuk-list govuk-list--number">
          <li>Control perennial weeds such as creeping thistle, couch grass and docks before you sow your seed mix.</li>
          <li>Produce a well consolidated, fine and level seedbed to ensure even germination and establishment.</li>
          <li>If your seedbed is still uneven after secondary cultivations then consider using a ring roll before sowing.</li>
        </ol>
        <p>Be careful not to overwork your seedbed if you have light soils. This can lead to seed being sown too deep, or poor emergence due to ‘capping’ where rain falls soon after sowing.</p>

        <h3 class="govuk-heading-m">Sowing your seed</h3>
        <p>One of the most common causes of failure during establishment is sowing small seeds too deep using a conventional drill. The small seeds in your mix will germinate best when broadcast or very shallow-drilled onto the surface of your seedbed.</p>
        <p>Sow half of your seed in one direction and the other half at a 90 degree angle to it. This will help to distribute the different species evenly through your plot.</p>
        <p>It can be difficult to sow low quantities of seed in conventional equipment. You may need to mix in an inert carrier such as barley meal or poultry chick crumb to help with seed flow and achieve a more even distribution.</p>
        <p>If you are travelling between plots, make sure you mix the seed well immediately prior to sowing each plot.</p>>
        <p>If the soil is dry enough, ring roll immediately after broadcasting to improve seed to soil contact, help retain moisture and reduce the risk of slug damage.</p>

        <h3 class="govuk-heading-m">Check your plot</h3>
        <p>Check for pest damage and to determine germination success within eight weeks of sowing.</p>
        <p>If establishment is poor, you may need to re-sow part or all of your plot.</p>
        <p>Broadcasting or shallow drilling into the existing sward may be enough for small areas. You may need to cultivate lightly first to create some bare ground.</p>
        <p>If your plot has failed on a larger scale then you may need to start again.</p>
        <p>If you are unsure what to do then speak to your seed supplier or adviser.</p>




        







      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <!-- <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li> -->
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li>
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}