{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Scenario
{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            End to end storyboard
          </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <img src="/public/images/end-to-end.jpg" alt="End to end journey" style="width: 100%">
        </div>
      </div>
    </main>
  </div>
{% endblock %}
