{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Scenario
{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            Scenario
          </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="/public/images/step-0.jpg" alt="Willow Farm" style="width: 100%">
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">You are the land manager at Willow Farm, and receive monthly ELM payments for six categories of natural capital, one of which is woodland.</p>
          <p class="govuk-body-l">Your non-commercial, mixed woodland is well established and in good condition.</p>
          <p class="govuk-body-l"><a href="/v1/storyboard/step-1.html" class="govuk-link">Start</a></p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
