{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Scenario
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Scenario
  </h1>
  <p class="govuk-body-l">
    Frank the farmer is 18 months into a ELM agreement, which includes an area of woodland. DEFRA has recently sent out a regional communication advising that an outbreak of Ash Dieback has been reported in your area.
  </p>
  <h2 class="govuk-heading-l">Persona</h2>
    <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 3em">  
      <li>Receiving regular monthly payments for six categories of natural capital of which one is woodland</li>
      <li>Non-commercial mixed woodland</li>
    </ul>
    <hr style="margin-bottom: 3em">
    <p class="govuk-body-l"><a href="/v1/storyboard/step-1.html" class="govuk-link">Start</a></p>
  

{% endblock %}
