{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 2
{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
            2. Request specialist help
          </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="/public/images/step-2.jpg" alt="ELM adviser requests help from Forestry Commission woodland officer through DEFRA CRM" style="width: 100%">
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">
            To confirm a diagnosis and get expert advice, your ELM adviser requests help of a specialist woodland adviser from the Forestry Commission (FC).
          </p>
          <p class="govuk-body-l"><a href="/v1/storyboard/step-3" class="govuk-link">Next</a></p>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
