{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 4
{% endblock %}

{% block content %}

  	<h1 class="govuk-heading-xl">
    	Register issue
  	</h1>
  	<img src="/public/images/step-4.jpg" alt="Incident information and diagnosis entered (mobile device or desktop) on DEFRA CRM ">
    <p class="govuk-body-l">
    <ul class="govuk-list govuk-list--bullet">
      <li>Information registered on DEFRA CRM (mobile device or desktop)</li>
      <li>LMP ID</li>
    	<li>Type of issue found</li>
    	<li>Recommendated action</li>
    	<li>Severity</li>
    </ul>
  </p>
    <p class="govuk-body-l"><a href="/v1/storyboard/step-5" class="govuk-link">Next</a></p>
  </p>

{% endblock %}
