{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 4
{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
            4. Logging the diagnosis
          </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="/public/images/step-4.jpg" alt="Incident information and diagnosis entered (mobile device or desktop) on DEFRA CRM"  style="width: 100%; margin-bottom: 30px">
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">
            The woodland adviser logs the diagnosis, including:
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Who is responsible for the woodland (you as the land manager)</li>
            	<li>The problem which has been found</li>
            	<li>Severity and scale of problem</li>
              <li>Recommended action</li>
            </ul>
          </ul>
        </p>
        <p class="govuk-body-l"><a href="/v1/storyboard/step-5" class="govuk-link">Next</a></p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
