{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 4
{% endblock %}

{% block content %}

  	<h1 class="govuk-heading-xl">
    	Register issue
  	</h1>
  	<img src="/public/images/step-4.jpg" alt="Incident information and diagnosis entered (mobile device or desktop) on DEFRA CRM ">
    <p class="govuk-body-l">
    <ul class="govuk-list govuk-list--bullet">
      <li>Forestry adviser logs information, for example:</li>
      <ul>
        <li>Who is responsible for the woodland (you as the land manager)</li>
      	<li>Type of issue found</li>
      	<li>Recommended action</li>
      	<li>Severity and scale of problem</li>
      </ul>
    </ul>
  </p>
    <p class="govuk-body-l"><a href="/v1/storyboard/step-5" class="govuk-link">Next</a></p>
  </p>

{% endblock %}
