{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 1
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Awareness
  </h1>
  <img src="/public/images/step-1.jpg" alt="DEFRA send out regional communications concerning ash dieback, woodland manager or ELM adviser become aware of symptoms in woodland">
  <p class="govuk-body-l">
    <ul class="govuk-list govuk-list--bullet">
    	<li>DEFRA send out regional communications about ash dieback</li>
    	<li>You and your ELM adviser become aware of symptoms in the woodland</li>
    </ul>
    <p class="govuk-body-l"><a href="/v1/storyboard/step-2.html" class="govuk-link">Next</a></p>
  </p>

{% endblock %}
