{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 2
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Request help
  </h1>
  <img src="/public/images/step-2.jpg" alt="ELM adviser requests help from Forestry Commission woodland officer through DEFRA CRM">
  <p class="govuk-body-l">
    <ul class="govuk-list govuk-list--bullet">
    	<li>Your ELM adviser requests help from a Forestry Commission woodland officer</li>
    </ul>
    <p class="govuk-body-l"><a href="/v1/storyboard/step-3" class="govuk-link">Next</a></p>
  </p>

{% endblock %}
