{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 1
{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
            1. Disease symptoms found
          </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <img src="/public/images/step-1.jpg" alt="DEFRA send out regional communications concerning ash dieback, woodland manager or ELM adviser become aware of symptoms in woodland" style="width:100%">
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">
            DEFRA send information about an Ash dieback outbreak in your area, you then find disease symptoms in your woodland.
          </p>
            <p class="govuk-body-l">
              <a href="/v1/storyboard/step-2.html" class="govuk-link">Next</a>
            </p>
          </p>
        </div>
      </div>
    </main>
  </div>


{% endblock %}
