{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 6
{% endblock %}

{% block content %}

  	<h1 class="govuk-heading-xl">
    	LMP review
  	</h1>
  	<img src="/public/images/step-6.jpg" alt="Change in natural capital triggers a review.">
  	<p class="govuk-body-l">
  	<ul class="govuk-list govuk-list--bullet">
      <li>
    	Change in natural capital triggers a review.
	    </li>
	</ul>
</p>
    <p class="govuk-body-l"><a href="/v1/Storyboardstep-7" class="govuk-link">Next</a></p>
  </p>

{% endblock %}
