{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 5
{% endblock %}

{% block content %}

  	<h1 class="govuk-heading-xl">
    	Notification sent
  	</h1>
  	<img src="/public/images/step-5.jpg" alt="Woodland manager and ELM adviser sent alert, with link to LMP service to review">
  	<p class="govuk-body-l">
  	<ul class="govuk-list govuk-list--bullet">
      <li>
    	You and your ELM adviser are sent an alert, advising a decision is required on your ELM agreement
	    </li>
	</ul>
</p>
    <p class="govuk-body-l"><a href="/v1/lmp" class="govuk-link">Next</a></p>
  </p>

{% endblock %}
