{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Storyboard step 3
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Site visit
  </h1>
  <img src="/public/images/step-3.jpg" alt="Forestry Commission adviser visits the woodland to inspect trees and makes diagnosis">
  <p class="govuk-body-l">
    <ul class="govuk-list govuk-list--bullet">
    	<li>Forestry Commission adviser visits the woodland to inspect trees and makes diagnosis</li>
    </ul>
    <p class="govuk-body-l"><a href="/v1/storyboard/step-4" class="govuk-link">Next</a></p>
  </p>

{% endblock %}
