{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">S011C: Supplementary winter bird feeding</h1>
      <p class="govuk-body-l">Find out how to feed seed-eating farmland birds in winter and early spring by providing supplementary food</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 17 June 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#"></a></li>
            </ol>
          </nav>
        </aside>

        <!-- MAIN CONTENTS -->      

        <h2 class="govuk-heading-l">Why farmland birds need supplementary food</h2>
        <p>Farmland bird species have declined since the 1970s. This decline is partly due to a lack of seed food in winter and early spring. Supplementary feeding is a simple and effective way to increase the availability of seed food on your farm during winter and early spring.</p>
        <p>You can supplementary feed on any farm where seed-eating farmland birds are present.</p>
        <p>Seed-eating farmland birds include finches, buntings and partridges. Bird ID guides are available:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">Game and Wildlife Conservation Trust's (GWCT) Big Farmland Bird Count</a></li>
          <li><a href="">Royal Society for the Protection of Birds (RSPB) Bird Identifier</a></li>
        </ul>

        <h2 class="govuk-heading-l">How to supplementary feed in winter</h2>
        <p><a href="">You must supplementary feed alongside other actions that provide farmland birds with food year-round and places to nest.</a></p>
        <p>Supplementary feed alongside:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">spring-sown winter bird food plots</a></li>
          <li><a href="">autumn-sown winter bird food plots</a></li>
          <li><a href="">overwinter stubble</a></li>
          <li><a href="">unharvested cereals</a></li>
          <li><a href="">brassica fodder crops</a></li>
          <li><a href="">ryegrass seed-set</a></li>
        </ul>
        <p>Together, these actions will provide a range of food sources to feed as many birds as possible through the winter and early spring.</p>

        <h3 class="govuk-heading-m">Where to feed</h3>
        <p>You should feed at more than one site, as different species prefer to feed in different locations. Tree sparrows and yellowhammers like to have nearby cover, such as a hedge. Corn buntings prefer sites next to fences or ditches and with vantage points to perch and scan for predators.</p>
        <p>Feeding at one site will hlep you feed more birds, particularly on larger farms. You will also reduce the risk of attracting pests, like rats.</p>
        <p>Suitable feeding areas include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>winter food bird plots</li>
          <li>overwinter stubble</li>
          <li>cultivated fallow areas</li>
          <li>bare or sparsely vegetated farm tracks in quiet areas</li>
          <li>areas of hard standing away from farmyards, such as a beet pad</li>
          <li>regularly mown grass margins with short vegetation</li>
        </ul>
        <p>Spread seeds on firm, free-draining areas of bare ground or short vegetation, to make it easy for birds to find the seed. If you cannot easily see the seeds then the vegetation is too long. Seed spread in tall vegetation, or on soft or wet ground is likely to rot or germinate before birds can eat it.</p>

        <h3 class="govuk-heading-m">What to feed</h3>
        <p>Different species prefer feeding on different seeds. Seed choice depends on things like beak size and the seed's nutritional value. Choose cereals, especially oats and wheat, for larger buntings such as corn buntings and yellowhammers. Tree sparrows and finches, such as linnets, prefer smaller oily seeds, for example mustard and sunflower hearts.</p>
        <p>Choose your seed mix based on the species in your local area. You can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>create your own seed mix using Table 1</li>
          <li>use the general seed mix in Table 2</li>
          <li>adjust your seed mix to target a specific species</li>
        </ul>
        <p>Use these steps to create a seed mix which will provide food for a wide range of farmland birds:</p>
        <ol class="govuk-list govuk-list--number">
          <li>Include at least two cereals and three small-seeded crops from Table 1.</li>
          <li>Small-seeded crops should make up at least 30% of the mix by weight.</li>
          <li>Avoid using maize or tic beans. They will attract pests, such as rats, and birds prefer other seeds.</li>
        </ol>
        <p>If organic seed is not available, you must get approval from your organic certification body before feeding non-organic seed on organic land or land you are converting to organic.</p>

        <p>TABLES</p>

        <p>You can alter your seed mix to meet the specific needs of certain species. You can adjust your seed mix if you know one of these species is present in your area:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>corn bunting - feed mostly wheat with smaller amounts of naked oats and barley</li>
          <li>tree sparrow - increase the amount of red millet and sunflower hearts that you feed</li>
          <li>grey partridge - increase the proportion of cereals that you feed</li>
        </ul>

        <h3 class="govuk-heading-m">When to feed</h3>
        <p>The best time to start feeding is when other seed sources of your farm are starting to become depleted. This will vary and depends on the amount of natural and sown seed available in the autumn, the number of birds and how harsh the weather is. As a guide, start feeding from December through to April.</p>
        <p>You should start feeding from the beginning of November if your winter bird food plots have failed or if it is the first winter of an autumn-sown plot. This will replace your plots as a food source.</p>

        <h3 class="govuk-heading-m">How much to feed</h3>
        <p>Your aim is to always have food available at your feeding sites. You should not leave a site for more than a day without food.</p>
        <p>To start with, feed around 25kg of seed per week at each feeding site. Adjust the amount of seed to match that needed by the birds. Each feeding situation will be different, so you should check feeding sites regularly and replace seed when most of it has been eaten.</p>
        <p>Increase the frequency or the volume of feeding if needed. Birds need more seed during periods of cold weather, particular if other food sources are unavailable due to frost or snow.</p>
        <p>There should not be large amounts of seed left at the end of each week. If seed is left uneaten, lower the amount of seed to reduce waste and consumption by deer, rats and pigeons.</p>
        <p>If you have more than one feeding site, replace the seed at each site on a different day. This will make sure there is always seed available on your land.</p>

        <h3 class="govuk-heading-m">How to spread seed</h3>
        <p>Broadcast seed either by hand or using equipment, such as a well-cleaned slug pellet applicator or purpose-built spreader.</p>
        <p>Aim for an even spread of seed. It is important not to spread seed too thickly, as this may encourage diseases and parasites harmful to farmland birds, as well as pests such as rats.</p>
        <p>To maintain good hygiene and reduce the risks of disease transmission between birds at your supplementary feeding sites:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>spin or scatter seed only, to avoid creating piles of seed or long trails</li>
          <li>check the seed consumption and only replace seed when most of it is eaten</li>
          <li>move feeding sites every year, to reduce pathogen build-up</li>
          <li>you can move feeding sites during the same winter, but no more than 50m at a time</li>
          <li>stop feeding for at least a week if there is a visible build-up of uneaten food</li>
        </ul>

        <h3 class="govuk-heading-m">Related content</h3>
        <p><a href="">S011: Ensure there is a range of habitats and action to provide year round resources for birds</a></p>
        <p><a href="">Cultivated margins and plots for turtle doves</a></p>
        <p><a href="">S011E: Spring-sown winter bird food plots</a></p>
        <p><a href="">S011F: Autumn-sown winter bird food plots</a></p>
        <p><a href="">S015B: Leave crops areas to seed</a></p>







      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <!-- <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li> -->
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li>
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}