{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">S015C: Beetle banks </h1>
      <p class="govuk-body-l">Find out how land managers can increase wildlife, control crop pests, control run-off and benefit the environment by making habitat for insects and spiders.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="app-c-published-dates " lang="en">
          <p>Published 8 June 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#"></a></li>
            </ol>
          </nav>
        </aside>

        <h2 class="govuk-heading-l">What a beetle bank is</h2>

<p>A beetle bank is a permanent, raised, uncut, grassy strip in the middle of your field.</p>

<p>It provides winter habitat for invertebrates like bees, predatory ground beetles and spiders. In spring they spread out onto the land to feed on aphids and other crop pests.</p>

<p>Reducing crop pests can:</p>

<ul><li>improve the health of crops</li>
<li>increase productivity</li>
<li>reduce the need for insecticides</li></ul>

<p>In summer the bank provides habitat for bees, mammals and farmland birds.</p>

<p>Beetle banks can also help to control run-off, which can:</p>
<ul><li>reduce pollution entering sensitive aquatic habitats</li>
<li>prevent soil eroding and getting into watercourses or onto roads</li>
<li>slow or divert the flow of flood water</li></ul>

<h2 class="govuk-heading-l">How to make a beetle bank</h2>

<h3 class="govuk-heading-m">Choosing a location</h3>
<p>Where you make the bank depends on what you want it to do: reduce crop pests or help control run-off.</p>

<p>If you’re making a beetle bank to control crop pests, it’ll be most effective in a field of over 20 hectares.</p>

<p>Make the bank in the middle of the field so invertebrates can spread across the whole area during the summer. </p>

<p>In larger fields of 30 to 50 hectares, build 3 to 4 banks. Space them evenly across the field. </p>

<p>It’s easiest to make the bank in the same direction as you cultivate.</p>

<p>If you want to use a beetle bank to control run-off and soil erosion then make it along the contour of the slope to get the best effect. Make sure the bank does not just divert water, causing problems somewhere else.</p>

<h3 class="govuk-heading-m">Making the bank</h3>
<p>Plough in 2 directions towards each other to form a raised bank between 3 and 5 metres wide and at least 40cm above the normal field level.</p>

<p>Make a firm, fine seedbed using shallow cultivation. Do not overwork the bank as this might flatten it.</p>

<p>Leave a gap at both ends of the bank where it meets the field boundary or margin so that you can easily get machinery in and out.</p>

<h3 class="govuk-heading-m">When to sow the bank</h3>
<p>Sow the bank in spring or autumn. If you sow it in autumn, do it when the seedbed is moist and warm and the seed is most likely to germinate. If frosts or long periods of wet weather are likely, leave the sowing until spring.</p>

<p>You might need to spray with a herbicide before sowing if there are weeds.</p>

<h3 class="govuk-heading-m">What to sow</h3>
<p>Sow tussocky grass species like:</p>

<ul><li>cock’s foot</li>
<li>timothy</li>
<li>meadow fescue</li>
<li>tall fescue</li></ul>

<p>To cover bare ground under tall grasses, use fine-leaved creeping grasses like:</p>

<ul><li>sheep’s fescue</li>
<li>common bent</li>
<li>red fescue</li></ul>

<p>Tall flowers attract wildlife. Choose species like hogweed, wild carrot, chicory or knapweed, which can compete with thick grasses.</p>

<p>Flowers provide food for pollinators and attract other predatory insects like hoverflies and parasitic wasps. Birds and harvest mice can also use the tall stems for nests and perching.</p>

<p>Sow a seed mix with 3 or 4 tussocky species plus 2 or 3 finer grasses and flowers. Choose species suitable for your soil type and sow at a rate of 3g per square metre.</p>

<p>Broadcast onto the seedbed by hand or using machinery. Rolling after sowing can help the seed come into contact with the soil.</p>

<h2 class="govuk-heading-l">How to manage a beetle bank</h2>

<p>A beetle bank takes about 2 to 3 years to establish.</p>

<p>In the first year, check the bank regularly to make sure the seed is growing and weeds don’t take over.</p>

<p>Cut several times in the first summer to help grasses grow thickly. It’ll be hard for weeds to grow once grasses establish.</p>

<p>You must check the bank for signs of nesting birds before cutting. If you see nests, delay cutting until birds fledge.</p>

<p>Birds, nests and eggs are protected. If you kill birds or destroy nests or eggs you can be fined.</p>

<p>After the first year, you’ll need to control problem (injurious) weeds, nettles and scrub. You can do this by:</p>

<ul><li>pulling by hand</li>
<li>digging</li>
<li>spot spraying herbicide</li></ul>

<p>Insecticide and herbicide used on nearby crops can kill insects and plants. Protect the bank on each side with a buffer zone, like a strip of low-input cereal, a flower-rich margin or pollen and nectar plot.</p>

<p>Fertiliser, manure or lime on the bank encourage weeds. If you need to spot spray problem weeds, only use an approved herbicide.</p>

<p>Do not allow people to walk or drive over or alongside the beetle bank. This can:</p>

<ul><li>erode ground or leave it bare</li>
<li>increase weeds</li>
<li>make the bank less effective</li>
<li>damage wildlife</li></ul>

<h2 class="govuk-heading-l">How to manage a beetle bank</h2>

<p>You’ll see:</p>

<ul><li>thick tussocky grasses, including dead stems from previous seasons</li>
<li>few weeds and little scrub</li>
<li>invertebrates like ladybirds, ground beetles and spiders</li>
<li>the bank acting as a barrier to run-off</li></ul>

<p>Very successful beetle banks will also have:</p>

<ul><li>farmland birds nesting and feeding</li>
<li>small mammals like hares and harvest mice using the bank as shelter</li>
<li>bumblebees and other pollinators</li></ul>


      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <!-- <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li> -->
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li>
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>


  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}
