{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">S060B: Remove dumped rubbish from protected geological sites below ground </h1>
      <p class="govuk-body-l">How land managers can clear dumped rubbish from protected geological sites, like SSSIs, that are below the ground, and what surveys or licences you need.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="app-c-published-dates " lang="en">
          <p>Published 8 June 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#"></a></li>
            </ol>
          </nav>
        </aside>

        <h2 class="govuk-heading-l">Sites of special scientific interest (SSSIs), and local geological sites, below the ground</h2>
<p>Geological <a href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest">SSSIs</a> and local geological sites are protected.</p>

<p>Below-ground geological features that make up these sites can include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>caves</li>
  <li>gorges and sinkholes leading to caves</li>
  <li>buried minerals, sediments and fossils</li>
</ul>

<p>These features can appear on any land where quarries, mines or cave systems exist, but caves are more common in limestone areas.</p>

<p>If you’re not sure whether you have a protected site on your land, search for <a href="https://www.gov.uk/check-your-business-protected-area">protected areas of countryside</a>.</p>

<h2 class="govuk-heading-l">Dumped rubbish</h2>

<p>Dumped rubbish means modern materials, like:</p>

<ul class="govuk-list govuk-list--bullet">
<li>disused farm machinery</li>
<li>plastic waste</li>
<li>building rubble</li></ul>

<p>Dumped rubbish can:</p>
<ul class="govuk-list govuk-list--bullet">
<li>cause damage to sites</li>
<li>prevent access to sites for scientific and educational study</li>
<li>prevent use of sites for recreation, like caving or potholing</li>
<li>pollute land and water</li>
<li>harm wildlife</li></ul>

<div class="govuk-inset-text">You must not remove items that have archaeological or geological value. For example, sinkholes can contain remains of ancient human activity, like animal bones. </div>

<h2 class="govuk-heading-l">Before you remove dumped rubbish</h2>

<h3 class="govuk-heading-m">Get a survey of the site’s geology</h3>

<p>You’ll need to get a geological survey of the site. The survey will advise you on the safest way to clear the rubbish.</p>

<p>If you need to remove rubbish from underground you’ll also need a geotechnical survey. This is to make sure the structure of the site is safe.</p>

<p>The surveyor will tell you if you need more specialist advice from, for example:</p>

<ul class="govuk-list govuk-list--bullet">
<li>bat conservationists</li>
<li>archaeologists</li></ul>

<p>To arrange a survey, contact …[?].</p>

<h3 class="govuk-heading-m">Get a wildlife survey</h3>

<p>You’ll need to get a wildlife survey to find out if there are protected species using the feature.</p>
<p>You’ll need a licensed surveyor to do this.</P

<p>Protected species include:</p>

<ul class="govuk-list govuk-list--bullet">
<li><a href="https://www.gov.uk/guidance/bats-protection-surveys-and-licences">bats</a>(</li>
<li><a href="https://www.gov.uk/government/publications/badgers-survey-or-research-licence">badgers</a>)</li>
<li><a href="https://www.gov.uk/guidance/wild-birds-protection-surveys-and-licences">birds</a></li></ul>

<p>The surveyor will visit at a time when species will be present. For example, breeding bats are found in summer, while hibernating bats are found in winter.</p>

<p>If there are protected species present, you’ll need a licence before you start the work.</p>

<h3 class="govuk-heading-m">Check who you need to tell</h3>

<p>If the rubbish is on an SSSI you must tell Natural England. You can contact Natural England by email: ProtectedSites@naturalengland.org.uk</p>

<p>If the site is on or near a scheduled monument you must tell Historic England before you remove the rubbish.</p>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You could get a fine or go to prison if you damage a protected site or monument.
  </strong>
</div>

<p>To remove large amounts of material you might also need planning permission. Contact your [local council’s](https://www.gov.uk/find-local-council) planning department to find out.</p>




      </div>

   <!-- RELATED CONTENT -->

    <!-- <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href=""></a></li>
          </ul>
        </nav>
      </aside>
    </div> -->

  </div>
</div>


  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}
