{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">SO42A Use minimum or no tillage cultivation</h1>
      <p class="govuk-body-l">Find out how land managers can improve the health of soil by using min-till (minimum tillage) or no-till (no tillage) farming.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="app-c-published-dates " lang="en">
          <p>Published 29 July 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#">Min-till and no-till farming</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#">Before you start</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#">How to use min-till or no-till farming</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#">After starting min-till or no-till farming</a></li>
            </ol>
          </nav>
        </aside>

        <!-- MAIN CONTENTS -->
        <h2 class="govuk-heading-l">Min-till and no-till farming</h2>

                <p>Min-till is cultivating land using mechanical methods other than ploughing. The aim is to reduce the amount you disturb the soil by:</p>

                  <ul class="govuk-list govuk-list--bullet">
                    <li>only cultivating up to 15cm deep</li>
                    <li>not turning over the soil</li>
                    <li>limiting the number of cultivation passes (times machinery goes over the same piece of ground)</li>
                  </ul>

                <p>No-till (or zero-till) means not using cultivation machinery that disturbs the soil when preparing land for sowing crops.</p>

                <h3 class="govuk-heading-m">Benefits of min-till and no-till</h3>

                <p>By using min-till and no-till, you can:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>reduce damage to the structure of soil</li>
                  <li>help to retain water in your soil, increasing protection from flooding and drought</li>
                  <li><a href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers-to-prevent-water-pollution">reduce soil runoff</a>, which causes water pollution and harms aquatic life</li>
                  <li>help retain nutrients in the soil, reducing the need for fertiliser</li>
                  <li>retain more organic matter, improving the quality of the soil</li>
                  <li>reduce harm to earthworms and other organisms which help to improve the fertility and structure of soil</li>
                  <li>have healthier soils, which can help crops establish quicker over time</li>
                  <li>reduce labour and fuel costs, operator time and greenhouse gas emissions from cultivation</li>
                </ul>

                  <p>The less you disturb the soil, the greater these benefits are.</p>

                <h3 class="govuk-heading-m">Where to use min-till or no-till</h3>

                <p>Min-till and no-till are suitable for most soils but work best on drier, more stable soils.</p>

                <p>They are best for grassland and common arable crops like:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>cereals</li>
                  <li>oilseed rape</li>
                  <li>sugar beet</li>
                </ul>

                <p>This is because min and no-till equipment and techniques have been developed to sow seeds for these types of crops.</p>

                <p>Min and no-till are less suitable for field vegetables or forage crops as it can be difficult to find suitable equipment to sow seeds.</p>

                <p>Use min-till rather than no-till for:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>soils prone to becoming compacted, like very heavy clay soils</li>
                  <li>soils that crust (cap), reducing water infiltration and increasing run-off, like light sandy soils</li>
                </ul>

                <h2 class="govuk-heading-l">Before you start</h2>

            <p>Ask your agronomist for help in assessing your soil type, structure and suitability for min-till or no-till. They are more successful on soils with good structure and drainage.</p>

            <p>Find out <a href="#">how to improve damaged or severely compacted soils</a>.</p>

            <p><a href="#">A soil management plan</a> can help you work out how min-till or no-till can fit in with your wider farm operations.</p>

            <h3 class="govuk-heading-m">Get the right machinery</h3>

            <p>Speak to machinery manufacturers for advice on adapting to min-till or no-till. You will need to adapt existing seed drills or buy a direct drill (also known as a no-till or zero-till drill) to ensure your equipment is suitable.</p>

            <p>Most no-till farmers invest in a direct drill or autocasting system, depending on the crop being grown.</p>

            <p>While this can be a big upfront cost, no-till saves more money than min-till in the longer term because there is no need to buy, maintain and run deep cultivation machinery.</p>

            <h3 class="govuk-heading-m">Check previously-used pesticides</h3>

            <p>Check whether pesticides that you’ve used on your land are suitable for min-till or no-till. You may need to plough the soil before you start so they do not remain at the surface and damage crops.</p>

            <p>Before using pesticides, always contact a BASIS-registered advisor for advice.</p>

            <h2 class="govuk-heading-l">How to use min-till or no-till farming</h2>

            <p>When preparing land using min-till, make sure machinery will not go deeper than 15cm or turn over the soil. Machinery you can use includes:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>shallow cultivators with discs or tines</li>
              <li>spring-loaded or rotary tillers</li>
              <li>harrows</li>
              <li>rollers</li>
            </ul>

            <p>Try to reduce the number of cultivation passes to reduce the amount you disturb the soil.</p>

            <p>Do not use:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>ploughs</li>
              <li>heavy deep discs</li>
              <li>power harrows</li>
            </ul>

            <p>For no-till, do not disturb the soil with cultivation machinery between harvesting and sowing crops.</p>

            <p>To build up organic matter and improve the health of soil, you can sow cover crops soon after harvesting your arable crops. Before sowing spring crops, destroy cover crops using herbicide or rolling. You can use a direct drill to sow spring crops on top of the cover crop.</p>

            <p>You can control weeds using a herbicide. If you’re an organic farmer, suppress weeds using cutting, crimping and rolling.</p>

            <h3 class="govuk-heading-m">Sow your crops</h3>

            <p>Consider using seed varieties that are resistant to pests as this will reduce the need to use pesticides later on.</p>

            <p>Sow crops when the soil is moist but not after heavy rainfall. You can leave residues of previous crops on the soil to build up its organic matter. This may help rainfall soak into the soil better and reduce runoff.</p>

            <p>For min-till, use a seed drill adapted for min-till or a direct drill which will not go deeper than 15cm.</p>

            <p>For no-till, use a direct drill or autocast system, depending on the crop.</p>

            <h2 class="govuk-heading-l">After starting min-till or no-till farming</h2>

            <p>During the first 3 years, crop yields can decline, especially if you’re using no-till. They normally recover as the health of the soil improves.</p>

            <h3 class="govuk-heading-m">Crop establishment</h3>

            <p>Crop residues can retain nitrogen, which is needed in the soil to help crops grow. This can delay crops establishing in the short term but growth can catch up.</p>

            <p>Over time, microbes in the soil will adapt so nitrogen can be absorbed by crops better, helping them to establish quicker.</p>

            <p>Spreading chopped straw evenly across the field using a straw rake can help. You can also use a small amount of starter fertiliser on spring crops. Do not use this on autumn crops as there is a higher risk of nutrients polluting water (leaching).</p>

            <h3 class="govuk-heading-m">Weed and pest control</h3>

            <p>You can control weeds by:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>increasing your seed rate</li>
              <li>rotating the type of crops you grow from year to year</li>
              <li>sowing cover crops to improve the health of soil</li>
              <li>using non-selective herbicides before drilling</li>
            </ul>

            <p>Reduce pests by creating habitats, like <a href="#">buffer strips</a> or <a href="#">beetle banks</a>, for natural predators. For min-till, roll seedbeds after drilling to reduce slugs.</p>

            <p>Limit the use of pesticides with precision <a href="#">pesticide application systems</a> or spot spraying and weed wiping.</p>

            <h3 class="govuk-heading-m">Severe weed, pest or crop disease problems</h3>

            <p>If weeds, pests, or crop diseases severely affect your crops, and none of the control methods have worked, ask your agronomist for advice.</p>

            <p>You can consider rotational ploughing every 3 to 4 years as a last resort.</p>
      </div>

   <!-- RELATED CONTENT -->

    <!-- <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href=""></a></li>
          </ul>
        </nav>
      </aside>
    </div> -->

  </div>
</div>


  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}
