{% extends "layout.html" %} 

{% block beforeContent %}
  <a class="govuk-back-link" href="../rewrites/overarching-bird-guidance-rewrite">Back to bird management overview</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Farmland bird management</h1>
      <p class="govuk-body-l"></p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-much">Identify birds on your land</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#advice">Identify bird habitats on your land</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#advice">Decide which birds you want to manage</a></li>
                <!-- <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#location">Pick the right location</a></li>
                </ol> -->
              </li>
            </ol>

          </nav>
        </aside>

        <p>A good farmland bird habitat should include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>access to winter food</li>
          <li>spring food suitable for chicks and adults</li>
          <li>somewhere for birds to nest</li>
        </ul>
        

        <h2 id="how-much" class="govuk-heading-l">Identify birds on your land</h2>
        <p>You can use local data sources to identify which birds are, or could be, on your land. <a href="#">Speak to an environmental land management (ELM) adviser</a> to find out if any landscape-scale initiatives, such as farmer clusters, are targeting birds in your area.</p>
        <p>Each type of bird will need specific management. Some birds will need more management than others. <a href="#">Learn about different types of birds</a>.</p>

        <h2 id="#" class="govuk-heading-l">Identify bird habitats on your land</h2>
        <p>You may have several different species of farmland bird on your land and in the nearby landscape. Some species can be found in more than one type of habitat.</p>
        <p>Farmland bird habitats include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="arable-farmland-birds-rewrite">arable farmland</a></li>
          <li><a href="">grassland farmland</a></li>
          <li><a href="">lowland wet grasslands</a></li>
          <li><a href="">upland in-bye grasslands</a></li>
        </ul>
        <p>Each type of bird habitat will need specific management. Some habitats will need more management than others. <a href="#">Find out more about different types of bird habitat</a>.</p>


        <h2 id="#" class="govuk-heading-l">Decide which birds you want to manage</h2>
        <p>To choose what bird species you will manage, you should think about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>which birds are currently on your land</li>
          <li>if you want to attract specific birds to your land</li>
          <li>if you can do the required management activities</li>
        </ul>

        <p>To help you decide, you can speak to an adviser, <a href="">find guidance on specific bird species</a>, or <a href="#">find a bird organisation</a> with experience of the birds and habitats you are interested in.</p>
        
                
      </div>
    </div>
  </div>
{% endblock %}
