{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</h1>
      <p class="govuk-body-l">Find out what you need to do to maintain carbon storage and reduce sediment in water bodies by planting cover crops.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 26 February 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#benefits">Benefits of doing this action</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How to plant and manage cover crops</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where-not">Where you cannot do this action</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#elm">Use this action for Environmental Land Management (ELM)</a></li>
            </ol>
          </nav>
        </aside>

        <!-- MAIN CONTENTS --> 

        <p>Cover crops can be grown to protect or improve soils. They are also known as ‘non-cash’ crops. Types of cover crops include hairy vetch, cereal rye and red clover. </p>
        <p>Cover crops can be used to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>suppress weeds</li>
          <li>prevent soil erosion and sediment leaching</li>
          <li>build and maintain soil fertility</li>
          <li>control pests and diseases</li>
        </ul>

        
        <h2 class="govuk-heading-l">Benefits of doing this action</h2>

        <p>Cover crops help to reduce water and air pollution by improving:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>soil quality</li>
          <li>soil stability</li>
          <li>carbon storage</li>
        </ul>
        <p>Planting cover crops can also work to <a href="">increase organic matter in soils to reduce wind erosion</a>.</p>

        <h2 class="govuk-heading-l">How to plan and manage cover crops</h2>

        <!-- <p></p> -->

        <h3 class="govuk-heading-m">Choose the right location</h3>

        <p>This action will give the best results if you plant cover crops on land that is at moderate or high risk of surface run-off or soil erosion. Light sandy soils in nitrate vulnerable areas are most at risk.</p>

        <p>If you are planting next to a watercourse you should consider creating grass buffer strips. They will help to capture any sediment or organic materials carried in runoff water. <a href="">Find out more about creating grass buffer strips</a>.</p>

        <h3 class="govuk-heading-m">Choose the right cover crop for your land and soil type</h3>

        <p>You can use either a mix or a single crop of:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>seeds, such as rye, vetch or mustard</li>
          <li>other crops, such as ryegrass or tillage radish</li>
        </ul>

        <p>Your choice of crop should depend on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>what other crops have been grown in the rotation</li>
          <li>what time of year you are planting</li>
          <li>the herbicide you use</li>
          <li>the rates of application for the previous crop</li>
        </ul>


        <h3 class="govuk-heading-m">How to manage your cover crop</h3>

        <p>To manage your cover crop you may want to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>remove areas of soil compaction (but do not subsoil on archaeological features)</li>
          <li>establish by drilling or broadcasting</li>
          <li>sow at a suitable seed rate to provide a dense cover and protect from soil erosion</li>
        </ul>

        <!-- <h2 class="govuk-heading-l">Where you cannot use this action</h2> -->        

        <h2 class="govuk-heading-l"><a name="elm">Use this action for Environmental Land Management (ELM)</h2>

        <p>This guidance describes an action that can be used as part of an ELM agreement.</p>
        <p><a href="../../tier1-v2">Apply for ELM</a> or <a href="../../grant-finder">find other ELM actions</a>.</p>

      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <!-- <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li> -->
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li>
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}