{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A10: Create pollen and nectar plots</h1>
      <p class="govuk-body-l">Use this guidance if you wish to sow areas of flowering plants which will provide food for pollinating insects.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 08 March 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why sow a pollen and nectar plot?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what">What to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#when">When to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#sowing">Sowing</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#successful">Considerations for successful management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#management">Ongoing management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#weed">Weed Control</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#pest">Pest control</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#look">How a successful pollen and nectar plot should look</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#gappy">What to do with failed or gappy plots</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#aware">Things to be aware of</li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#legal">Legal requirements</li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->      

      <h2 class="govuk-heading-l"><a name="why"></a>Why sow a pollen and nectar plot?</h2>

        <p>Pollinating insects such as bees, butterflies and hoverflies are declining in numbers. For many people the sights and sounds of these insects are a familiar and welcome part of the summer months. But they are also essential to the life-cycle of many of our crops such as fruit and oilseed rape. Flower-rich areas provide nectar and pollen for insects to feed on, as well as food and shelter for farmland birds and their chicks. Flower-rich patches are good to look at, adding splashes of colour to the landscape.</p>
        <p>Different insects are adapted to feed in different ways. A well-managed pollen and nectar plot will ensure that food is available for as long a period as possible for a variety of insects. Providing pollen and nectar into late summer also offers an essential food source for bumblebees, including such some of our rarer species, before they hibernate.</p>
        <p>Many species of beneficial predatory insects such as hoverflies, ladybirds and ground beetles will complete part of their lifecycle within uncropped areas such as pollen and nectar plots. These species can reduce numbers of aphids and other pests in nearby crops.</p>

      <h2 class="govuk-heading-l"><a name="where"></a>Where to sow</h2>
      <p>Pollen and nectar plots work well as either field margins or larger plot areas. Choose a location which is a size and shape which you can manage effectively with the machinery you have available.</p>
      
      <h3 class="govuk-heading-m">Plot size and distribution</h3>

      <p>Research has shown that the smallest solitary bees can fly around 250m between nectar and pollen sources. A central plot would allow these bees to cover an area of nearly 20ha. To meet the foraging needs of pollinators you should aim to establish a minimum of 5 plots of 0.5ha for every 100ha of farmland. Having multiple large plots allows pollinators to move to safety when you are carrying out agricultural operations in adjacent crops – such as the spraying of insecticides.
      <p>You can also consider larger plots where appropriate – for instance to create habitat corridors linking isolated areas of flower rich habitats.</p>
      <p>The best locations to establish and manage successful plots are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>lower yielding areas of low fertility</li>
          <li>sunny areas facing south or southwest</li>
        </ul>
      <p>Blocks or strips of pollen and nectar mix are pleasant to look at when in flower, both for the inherent beauty of the flowering plants, and the activity of the insects and other wildlife which will be using them. If you have public access routes on your land, consider establishing your pollen and nectar plots alongside so that people can enjoy them.</p>
      <p>You should avoid:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sites with a history of persistent weed problems such as common ragwort, docks, nettles and thistles</li>
        <li>fertile sites that will encourage weeds which will outcompete your sown flowers</li>
        <li>cool, damp or shady locations beside hedgerows, tree lines or woodland</li>
        <li>remote or inaccessible sites which are difficult to access or manage</li>
        <li>areas known to support rare arable plants such as shepherds needle</li>
      </ul>
      <h2 class="govuk-heading-l"><a name="what"></a>What to sow</h2>
        <p>A seed mix containing both legume and non-legume flower species will typically provide:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>high volumes of pollen and nectar between April and October</li>
          <li>a variety of flower colours and shapes that will be attractive to a range of pollinators such as bumblebees; solitary bees and wasps; butterflies; and hoverflies</li>
          <li>a plot which provides flowers every year for up to five years</li>
        </ul>
        <p>Do not include grasses in your mix as they can grow very vigorously on fertile arable soils and suppress the sown flower species.</p>
      <h3 class="govuk-heading-m">How many species to sow</h3>
      <p>Sow a mix containing a minimum of 10 flowering species with a minimum of 4 non-legumes. This should result in your plot containing an average of 5 or more sown flower species into years 4 and 5 when short-lived species, such as alsike and red clover, start to decline in vigour and extent.</p>
        <h3 class="govuk-heading-m">How many seeds to sow</h3>
        <p>The number of seeds sown per hectare is important when sowing flower-based seed mixes. If you sow too few seeds the plot has a greater risk of partial or total failure if conditions aren’t ideal during sowing and the first few weeks after germination. A poorly established plot is at risk of colonisation by weeds and will need to be re-sown sooner.</p>
        <p>You should take into account the following factors when considering your total seed rate:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the relative seed size (by weight) of flower species included in a mix</li>
          <li>seed-bed quality</li>
          <li>sowing date</li>
          <li>soil type</li>
          <li>weed and pest burden</li>
          <li>prevailing weather</li>
          <li>availability of moisture within the seed-bed</li>
        </ul>
        <p>The seed rate for individual flower species should be varied to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ensure vigorous species, such as chicory and lucerne do not dominate and smother slower growing species such as bird’s-foot trefoil, field scabious and musk mallow</p>
            <li>prevent species such as borage and phacelia from becoming weeds that are very difficult to control in following crops</li>
        </ul>
        <p>To minimise the risk of some species becoming too dominant, or a potential future weed, it is recommended that you adhere to the following maximum seed rates for these species:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>borage - 3.00 kg/ha</li>
          <li>chicory - 0.20 kg/ha</li>
          <li>lucerne - 0.60 kg/ha</li>
          <li>phacelia - 0.70 kg/ha</li>
          <li>sweet clover - 0.60 kg/ha</li>
        </ul>
        <h3 class="govuk-heading-m">Example seed mixes</h3>
        <table class="govuk-table">
          <caption class="govuk-table__caption">Table 1 – example seed mix for light/medium soil</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Species</th>
              <th scope="col" class="govuk-table__header">% rate</th>
              <th scope="col" class="govuk-table__header">Kg/ha</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Alsike clover</th>
              <td class="govuk-table__cell">5</td>              
              <td class="govuk-table__cell">0.75</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Bird’s-foot trefoil</th>
              <td class="govuk-table__cell">10</td>
              <td class="govuk-table__cell">1.50</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Black medick</th>
              <td class="govuk-table__cell">4</td>
              <td class="govuk-table__cell">0.60</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Common vetch</th>
              <td class="govuk-table__cell">15</td>
              <td class="govuk-table__cell">2.25</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Early flowering red clover</th>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0.75</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Late flowering red clover</th>
              <td class="govuk-table__cell">5</td>
              <td class="govuk-table__cell">0.75</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Lucerne</th>
              <td class="govuk-table__cell">3</td>
              <td class="govuk-table__cell">0.45</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Sainfoin</th>
              <td class="govuk-table__cell">45</td>
              <td class="govuk-table__cell">6.75</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Sweet clover</th>
              <td class="govuk-table__cell">3</td>
              <td class="govuk-table__cell">0.45</td>
            </tr>
            <tr class="govuk-table__row" style="border-top: 2px solid black; border-bottom: 2px solid black">
              <td scope="col" class="govuk-table__cell govuk-table__footer">Sub-total (legume)</td>
              <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">95</span></td>
              <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">4.25</span></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Common knapweed</th>
              <td class="govuk-table__cell">1.5</td>              
              <td class="govuk-table__cell">0.225</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Musk mallow</th>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">0.15</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Oxeye daisy</th>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">0.15</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Wild carrot</th>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">0.15</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">Yarrow</th>
              <td class="govuk-table__cell">0.5</td>
              <td class="govuk-table__cell">0.075</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="govuk-table__row" style="border-top: 2px solid black">
              <td scope="col" class="govuk-table__cell govuk-table__footer">Sub-total (non-legume)</td>
              <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">5</span></td>
              <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">0.75</span></td>
            </tr>
            <tr class="govuk-table__row" style="border-top: 2px solid black;border-bottom: 2px solid black">
              <td scope="col" class="govuk-table__cell govuk-table__footer"><span class="govuk-!-font-weight-bold">Total</span></td>
              <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">100</span></td>
              <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">15</span></td>
            </tr>
          </tfoot>
        </table>
        <h3 class="govuk-heading-m">Other considerations</h3>

        <p>Berseem clover, crimson clover and Persian clover can also be considered within your legume species. These annuals are not frost hardy so do not include them in autumn sown mixes.</p>
        <p>
Seek advice from your seed supplier when you are devising seed mixes intended for acidic or strongly alkaline soils. You should not include lucerne or sainfoin in a mix sown on acidic soils.</p>
        
        <h2 class="govuk-heading-l"><a name="when"></a>When to sow</h2>
        <p>While nectar flower mixes have traditionally been sown in two distinct spring or late summer sowing windows, they can actually be established at any time if conditions are optimal for germination.</p>
        <p>Things to consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sowing into a quality seedbed that is warm and has some available moisture will ensure better seed germination – your soil temperature should be at least 7°C</li>
          <li>many flower species are slow to develop and require time to become sufficiently frost hardy to survive the winter – you should complete autumn sowings by the first week of September to avoid the risk of frosts affecting establishment</li>
          <li>periods of extreme drought or very wet weather can present enormous challenges to establishing flower mixes successfully – delay sowing your mix if your seedbed is extremely dry or saturated</li>
          <li>spring sown seed mixes can suffer from high levels of weed competition from fast growing annual weed species such as fat-hen and redshank</li>
          <li>autumn sowings can suffer from grass weed infestations such as blackgrass and winter wild oat</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="how"></a>How to sow</h2>
        <h3 class="govuk-heading-m">Create your seedbed</h3>
        <p>Control perennial weeds such as creeping thistle, couch grass and docks before you sow your seed mix.</p>
        <p>Aim to produce a well consolidated firm, fine and level seedbed to ensure even germination and establishment.</p>
        <p>Be careful not to create "fluffy" overworked seedbeds on lighter soils which can lead to seed being sown too deep and/or poor emergence due to ‘capping’ where rain falls soon after sowing.</p>
        <p>Cloddy uneven seed-beds on heavier land will also result in uneven establishment as some seed is sown deeper than others. If your seedbed is still very uneven after secondary cultivations then consider using a ring roll prior to sowing to further consolidate and level your seedbed.</p>

        <h3 class="govuk-heading-m">Preparing existing grassland</h3>
        <p>Aim to create 50% bare ground in June to mid-July by grazing the field. This will provide the seedbed and reduce competition from established grasses. You can use pulse grazing or intensive grazing. Remove livestock in very wet weather or when you can see any damage or compaction caused by livestock hooves. You should not supplementary feed livestock as this can lead to raised nutrient levels.</p>
        <p>You can also scarify the field using a disc or chain harrow. Tine harrows can be used to remove grass thatch. You may find it useful to use both livestock grazing and mechanical management.</p>

      <h2 class="govuk-heading-l"><a name="sowing"></a>Sowing</h2>
        <p>Mixes containing mostly small seeds will germinate best when broadcast or very shallow drilled onto the surface of a seedbed that is level, warm, and contains some available moisture. One of the most common causes of failure during establishment is sowing small seeds too deep using a conventional drill.</p>
        <p>To ensure an even distribution of the various seed mix constituents across each plot consider sowing 50% of the seed in one direction across your plot and then sow the remainder of the seed at a 90 degree angle to your first pass.</p>
        <p>It can be difficult to sow low quantities of seed in conventional equipment. You may wish to mix in an inert carrier such as barley meal or poultry chick crumb to help with seed flow and achieve a more even distribution.</p>
        <p>
          Periodically mixing the seed in the hopper is important to help prevent it from settling out into its constituent parts which can lead to uneven establishment. If you are travelling between plots, make sure you mix the seed well immediately prior to sowing each plot.
If the soil is dry enough it is recommended that you ring roll immediately after broadcasting to improve seed to soil contact, help retain moisture, and reduce the risk of slug damage.
        </p>

      <h3 class="govuk-heading-m">Inspecting newly sown plots</h3>
      <p>It is important to inspect newly sown plots as soon as possible, and ideally within 8 weeks, after sowing for pest damage and to determine germination success. Inspecting plots early will ensure you have sufficient time to determine and implement the correct course of action for plots that have partially or wholly failed.</p>

      <h2 class="govuk-heading-l"><a name="successful"></a>Considerations for successful management</h2>
      <p>Plots that are well planned and managed will last longer, need less intervention, and be more valuable for pollinating insects.</p>
      <h3 class="govuk-heading-m">First year management</h3>
      <p>Cutting at least twice during the first twelve months after sowing is recommended to control annual weeds including crop volunteers such as oilseed rape, wheat and barley. This also encourages sown species to bush out.</p>
      <p>The first cut should be completed when weeds are growing vigorously and start to shade out the sown flower seedlings. If you look down at the developing sward from a bird’s eye view perspective and cannot see any sown flower seedlings, it is time to start cutting. To ensure the first cut is correctly timed, monitor your newly sown plots regularly in the first spring after sowing.</p>
      <p>Where early flowering annuals such as black medick, common vetch, crimson clover and phacelia have been included in a mixture, it is recommended that cutting is carried out either early, when the plants are less than 30 cm height and have not yet reached the flower bud growth stage, or after they have completed flowering. If in doubt delay cutting until these species have flowered.</p>
      <p>Set your cutting implement to a height which removes the top growth of the target weeds while minimising the risk of dislodging the roots of seedlings or harming wildlife such as young leverets.</p>

      <h2 class="govuk-heading-l"><a name="management"></a>Ongoing management</h2>

      <h3 class="govuk-heading-m">Early cut on 50% plot</h3>
      <p>Once your plots have fully established, you will need to undertake further cutting to extend the flowering period. You can achieve this by cutting half of the plot early in the season. This delays flowering of the cut half meaning that nectar is available to pollinators later in the summer, after the flowers in the uncut half have finished flowering.</p>
      <p>To effectively delay flowering, you should cut plants just before the flower bud formation growth stage. This ensures that plants will not have to use up more reserves than necessary to re-grow. It also creates the longest gap between flowering of uncut and cut plants. Cutting too late at the flower bud or flowering stage is likely to mean the plants produce less flowers.</p>
      <p>In most years cutting from late May to mid-June is likely to be the optimum time to complete the early season cut on half the plot area.
You should not cut the same half of the plot in successive years.</p>

      <h3 class="govuk-heading-m">Grazing</h3>
      <p>You may wish to graze your plot:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>over the winter after you have carried out your end of season cut – you should remove your stock before the following spring when the flowers begin to grow<li>
        <li>in early spring to help suppress grass weeds or when planning to undertake weed-wiping – grazing in April or May will help to create the height differential needed between non-target plants and the target weeds</li>
        <li>in lieu of the early cut on 50% of your plot – you should ensure that the sward is not grazed below 10cm in height to minimise the risk of damage to the crowns of your plants</li>
      </ul>
      <p>Only graze when ground conditions are appropriate and you are confident that the number of stock will not cause poaching or compaction. You should not supplementary feed on your plot.</p>

      <h2 class="govuk-heading-l"><a name="control"></a>Weed Control</h2>
      <p>Annual weeds and crop volunteers can be easily controlled by cutting regularly in the first 12 months after sowing.</p>
      <h3 class="govuk-heading-m">Broad-leaved weeds</h3>
      <p>Cutting can control some broad-leaved weeds by killing seedlings and progressively weakening established plants. Longer-term control of injurious and other hard to control weeds such as common ragwort, docks, nettles and thistles may require:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>localised repeated cutting</li>
        <li>spot application of a herbicide by knapsack, hand-lance or weed-wiper*</li>
        <li>hand removal such as ‘rogueing’ ragwort or ‘spudding’ docks</li>
      </ul>
      <p>*always check the product label before using to see if it is approved for use in a knapsack, hand-lance or weed wiper.</p>
      <p>You should not apply an overall application of a selective broad-leaved herbicide to your plot. Most products that are effective on weeds would also kill or severely damage your sown flower species.</p>
        <h3 class="govuk-heading-m">Grass weeds</h3>
        <p>Wild grasses can become established in older plots and suppress flowering plants. This may result in delayed flowering and reduced supply of pollen and nectar. If grasses become a problem on your plot then undertake cutting in the first instance. Where cutting is not effective or appropriate consider using a selective graminicide which is effective on the target grass weeds and safe on the sown flower species.</p>
        <p>Always consult a British Agrochemical Standards Inspection Scheme (BASIS) qualified agronomist for up to date information on which products are approved for use on pollen and nectar plots.</p>
      <h2 class="govuk-heading-l"><a name="control"></a>Pest control</h2>
      <p>Pests can severely hamper the successful establishment of your sown flower mix. Pigeons, rooks and mice may take seeds that have not been covered adequately with soil. Other pests such as slugs can be very damaging to seedlings soon after germination.</p>
      <p>Slugs can be hard to control particularly on heavy soils where slug populations can build up due to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sowing brassica crops such as oilseed rape more frequently in the rotation</li>
        <li>using reduced or no-till cultivation systems resulting in a build-up of trash at or near to the surface that slugs can feed on</li>
      </ul>
      <p>Effective non-chemical control measures include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>burying trash to a depth which moves slugs away from the rooting zone</li>
        <li>producing a firm, fine, level seedbed which is rolled after sowing to consolidate it further – this reduces the movement of slugs within the soil profile
You should only use slug pellets as a last resort. Prior to chemical control you should carry out test baiting with mash to confirm that damaging population thresholds are being exceeded.</li>
      </ul>
      <h2 class="govuk-heading-l"><a name="look"></a>How a successful pollen and nectar plot should look</h2>
      <p>You will know your management is right when you see:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>plants such as black medick, common vetch, phacelia and red campion starting to flower in spring to provide pollen and nectar for early emerging insects</li>
        <li>flowering plants in a variety of colours, shapes and sizes throughout the summer months</li>
        <li>plants such as common knapweed and musk mallow continuing to flower into late summer or early autumn</li>
        <li>a variety of pollinating insects such as bumblebees; butterflies; hoverflies; and solitary bees and wasps using your plot to feed and rest</li>
      </ul>
      <h2 class="govuk-heading-l"><a name="gappy"></a>What to do with failed or gappy plots</h2>
      <p>Where establishment is poor you may need to re-sow part or all of the plot. Each situation will be different depending on the plant population that has survived, and the time of year.</p>
      <p>Broadcasting or very shallow drilling of seed into the existing sward may be enough for small areas. You may need to carry out light cultivation first to create some bare ground. Where the plot has failed on a larger scale then you may need to start again.</p>
      <p>If you are unsure as to the best course of action please discuss with your seed supplier or adviser.</p>
      <h2 class="govuk-heading-l"><a name="aware"></a>Things to be aware of</h3>
      <p>Over time the amount of flowering plants in your plot is likely to reduce and the value to pollinating insects will fall. When this happens you should re-establish your plot.</p>
      <p>To minimise damage to other wildlife such as young leverets, amphibians and hedgehogs, your cutting path should not force wildlife into the centre of a plot where it is harder for them to escape the machinery.</p>
      <h2 class="govuk-heading-l"><a name="legal"></a>Legal requirements</h2>
      <p>Under the Wildlife and Countryside Act 1981 all birds, their nests and eggs are protected by law and it is an offence, with certain exceptions, to intentionally kill, injure or take any wild bird; or to intentionally take, damage or destroy the nest of any wild bird whilst it is in use or being built.</p>
      <p>You should check your plots for nesting birds before cutting. Where nests are present delay cutting until birds have fledged.</p>
        <h2 class="govuk-heading-l">Evidence, further reading and sources of support</h2>
      <ul class="govuk-list">
          <li><a href="https://www.ceh.ac.uk/sites/default/files/CEH_HabitatManagementAndCreationForPollinators_LowRes-ForHomePrint.pdf" target="_blank">Centre for Ecology and Hydrology (opens in a new tab or window)</a></li>
          <li><a href="https://www.rspb.org.uk/our-work/conservation/conservation-and-sustainability/farming/advice/managing-habitats/nectar-flower-mixtures/" target="_blank">RSPB</a>
          </li></ul>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-or-restore-species-rich-grassland">A9: Create species-rich grassland to enhance habitats</a></li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}