{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A9: Create and restore species-rich grassland</h1>
      <p class="govuk-body-l">Use this guidance help you create or restore species-rich grassland. You can restore the condition of existing grassland or create species-rich grassland from arable land.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 08 March 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what">What is species-rich grassland</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why create or restore species-rich grassland</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where to create or restore species-rich grassland</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#establish">Establishing species-rich swards</a></li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->      

      <h2 class="govuk-heading-l"><a name="what"></a>What is species-rich grassland</h2>

        <p>Species-rich grasslands display a huge number and range of wildflowers, up to 40 in a square metre. They are often referred to as unimproved grassland because they have not received any fertiliser. The application of manure, fertiliser or lime will encourage vigorous grasses and rushes to outcompete typical wildflowers.</p>
        <p>They can be:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a  href="#">acidic</a> - on soils with a pH lower than 5.5 - generally have fewer flowers compared with neutral and calcareous grasslands</li>
            <li><a  href="#">neutral</a> - on neutral clay and alluvial soils with a pH between 5.5 and 6.5</li>
            <li><a  href="#">calcareous</a> - on soils that are base rich, having a higher pH than 7 – these are generally the most diverse in terms of wildflowers and grasses</li>
            <li><a  href="#">wet</a> – can be acidic or neutral but will have a higher water table and support different species including more rushes and sedges</li>
          </ul>

        <p>Underlying rocks, soil type, and your sites drainage and management history will affect the type of grassland you can create or restore.</p>

      <h2 class="govuk-heading-l"><a name="why"></a>Why create or restore species-rich grassland</h2>
      <p>Species-rich grassland can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>support a wide range of plants and wildlife</li>
        <li>provide good quality food for livestock</li>
        <li>boost populations of beneficial insects and enhance pollination</li>
        <li>maintain healthy, carbon rich soil</li>
        <li>reduce the need for artificial fertiliser and pesticide</li>
        <li>lower farming costs and the risk of pollution incidents</li>
      </ul>

        <p>You can create sites which can support many rare and beautiful species. This includes orchids and threatened butterflies. You can also enhance the wildlife value of other adjacent habitats including grasslands, orchards, parkland or wood pasture.</p>
        
      <h2 class="govuk-heading-l"><a name="where"></a>Where to create or restore species-rich grassland</h2>
        <p>You can create species-rich grassland on arable or existing grassland sites. Site selection is very important as species-rich grassland can be difficult to create.</p>

      <h3 class="govuk-heading-m">Suitable sites</h3>
      <p>Soil fertility is the main obstacle to successfully creating or restoring species-rich grassland. Sites with high fertility will allow competitive grass species to dominate and out compete wildflowers. Knowledge of soil type, pH and nutrient status is important. Soil samples and basic species surveys will help determine the most suitable sites. You should consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>targeting fields where the soil has a low phosphate status as this is the best indicator of low fertility levels</li>
          <li>choosing a site which is next to existing species-rich grassland or linked by the movement of livestock or machinery – this will allow colonisation by associated plant and invertebrate species</li>
        </ul>
        <h3 class="govuk-heading-m">Unsuitable sites</h3>
        <p>Certain sites will be difficult to convert to species-rich grassland. This can include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sites where competitive species such as Italian ryegrass, white clover, spear thistle, ragwort and broad-leaved dock are common</li>
          <li>sites surrounded by arable fields or improved grassland</li>
        </ul>

        <h3 class="govuk-heading-m">Other considerations</h3>

        <p>You should consider if you have the resources to manage species-rich grassland or if capital works may be needed. For pasture land you may need to change your livestock and install appropriate fencing, water troughs and access. For hay meadows you may need to invest in different farm machinery, for example to make smaller bales.</p>
        
        <h2 class="govuk-heading-l"><a name="where">How to create or restore species-rich grassland</a></h2>
        <p>To create or restore a species-rich grassland, you will need to prepare the site, establish a species-rich sward and continue with appropriate management.</p>

        <h2 class="govuk-heading-l"><a name="where">Prepare your site</a></h2>
        <h3 class="govuk-heading-m">Preparing arable land</h3>
        <p>In early July cultivate the field to create a fine seed bed and leave the ground bare. Fertiliser is not needed because wildflowers and grasses need lower nutrient levels than arable crops.</p>

        <h3 class="govuk-heading-m">Preparing existing grassland</h3>
        <p>Aim to create 50% bare ground in June to mid-July by grazing the field. This will provide the seedbed and reduce competition from established grasses. You can use pulse grazing or intensive grazing. Remove livestock in very wet weather or when you can see any damage or compaction caused by livestock hooves. You should not supplementary feed livestock as this can lead to raised nutrient levels.</p>
        <p>You can also scarify the field using a disc or chain harrow. Tine harrows can be used to remove grass thatch. You may find it useful to use both livestock grazing and mechanical management.</p>

      <h2 class="govuk-heading-l"><a name="establish"></a>Establishing species-rich swards</h2>
        <p>There are four common methods that you can use to establish species-rich swards. These are using green
hay, using harvested seed, using seed mixtures and natural regeneration. This section provides more
information on using these methods.</p>

      <h3 class="govuk-heading-m">Using green hay</h3>
      <p>Green hay is wildflowers and grasses harvested just as they are shedding seed. This hay is spread onto a
recipient site allowing the seed to drop and germinate. Donor and recipient sites must be close together as
you will need to harvest and transport the hay in no more than half a day. This is to prevent it heating up
and rotting.</p>
      <p>
You will need green hay from 1ha to restore approximately 3ha. Spread green hay using a muck spreader
towed behind a tractor, or by hand. Make sure the hay is spread thinly and evenly. Seed needs to be in
contact with the soil to germinate. You can do this by rolling your recipient site straight after the seed has
been spread or by putting out livestock, particularly cattle.</p>
      <h3 class="govuk-heading-m">Harvested seed</h3>
      <p>[Link to S002D] explains different ways you can harvest seed. You can also ask local conservation
organisations if they have any harvested seed from a suitable donor site that you can use. It can be a cheap
method compared with buying seed mixtures but the availability can be limited.</p>


      <h3 class="govuk-heading-m">Seed mixtures</h3>
      <p>Seed mixtures can be used when there is no local seed available. They are particularly suited to arable sites
where large amounts of seed will be needed to cover bare ground.</p>

      <p>Tailor your choice of grass species to your soil type and location. The following species will grow in most
conditions and can form part of a basic grass seed mixture:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>timothy</li>
          <li>cocksfoot</li>
          <li>crested dogstail</li>
          <li>red fescue</li>
          <li>smooth stalked meadow grass</li>
        </ul>
        <p>Use cocksfoot and timothy with care as they are tussocky, vigorous and can become dominant.</p>
        <p>Add wild flowers to increase environmental outcomes. When adding wild flowers make sure that the grass
mixture isn’t too vigorous. Good examples of flower species to use are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ox-eye daisy</li>
          <li>black knapweed</li>
          <li>bird’s-foot-trefoil</li>
          <li>common sorrel</li>
        </ul>
        <p>Your seed supplier will recommend a rate to spread the seed.</p>
        <h3 class="govuk-heading-m">Spreading the seed</h3>
        <p>The best time to spread seed is from late July to early September. This is the time when most grassland
plants shed. You can also spread the seed in March and April.</p>
        <p>You can use a modified seed hopper to scatter seeds on larger fields. You may wish to use extra agitators if
you are using brush harvested seed. Brush harvested seed can have lots of extra material, such as stalks
and leaves, which can clog up the machine.</p>
        <p>You can also spread seed by hand. Mixing your seed with dry sand will help bulk it out. You can add a
contrasting colour to the sand to allow you to see where the seed has been spread. It is important to
scatter seed evenly. It is best to scatter seed on the surface to copy natural processes.</p>
        <p>Seed needs to be in contact with the soil to germinate. You can do this by rolling your recipient site straight
after the seed has been spread or by putting out livestock.</p>
        <h3 class="govuk-heading-m">Natural regeneration</h3>
        <p>Your recipient site will need to be next to a donor species-rich site with livestock access between them.
Natural regeneration takes much more time than other methods but helps preserve the local
distinctiveness of wildflower grasslands. It is more suited to diversifying existing grassland than creating
new species-rich grassland.</p>
        <p>Move livestock frequently from nearby species-rich fields during summer. They will help to bring in seed of
wildflowers. Allow livestock to roam extensively at low numbers across both sites.</p>
        <p>Trampling by livestock completes the process and allows the seeds to germinate. Remove livestock once
your donor site is grazed. You may need to remove your livestock when the ground becomes too wet and
over winter to prevent damage to your sites.</p>
        <h3 class="govuk-heading-m">Subsequent management</h3>
        <p>Creating species-rich swards can be difficult and should be considered a long term project. It can take up to
15 years for some species to establish and bloom. Once established they are very low input. Management
will vary depending on the type of grassland you aim to create.
</p>
        <p>The following pages detail different types of management:</p>
        <h3 class="govuk-heading-m">Managing undesirable plants</h3>
        <p>Controlling vigorous species such as thistle, docks and ragwort will provide space for wildflowers to grow
and livestock to graze. Further information can be found in Guidance note: Controlling undesirable species.</p>
        <h3 class="govuk-heading-m">Legal requirements</h3>
        <p>You may need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an APHA licence if you brush harvest or vacuum harvest and transfer the seed in England and
Wales [link]</li>
          <li>an Environmental Impact Assessment (EIA) screening for some activities such as clearing scrub
[link]</li>
          <li>to consult with the relevant authority if there are historical features on your land because soil
disturbance to create bare ground can damage archaeological features [links]</li>
        </ul>
          <h3 class="govuk-heading-m">Evidence, further reading and sources of support</h3>
          <a href="http://publications.naturalengland.org.uk/publication/35034">Lowland grassland management handbook Natural England (opens in a new tab or window)</a>
      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-flower-rich-margins-and-plots">A10: Provide a flower rich habitat for pollinators</li>
            <li><a class="govuk-link" href="create-pollen-and-nectar-plots">A10: Create pollen and nectar plots</li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}