{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Manage purple moor-grass and rush pasture</h1>
      <p class="govuk-body-l">Use this guidance if you manage or wish to restore purple moor-grass and rush pasture. By maintaining this habitat you can help this rare grassland and the species it supports survive and thrive. If you want to create this type of grassland refer to Guidance note: creating wet grassland.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 26 February 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where can you find purple moor-grass and rush pasture?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what">What is purple moor-grass and rush pasture?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why managing purple moor-grass and rush pasture is important</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#success">How do you know when you are successful?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#spring">Spring</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#summer">Summer</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#autumn">Autumn</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#considerations">Considerations for successful management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#tree">Tree and scrub management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#sowing">Sowing wildflowers</a></li>  
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#manure">Manure, fertiliser and lime</a></li>  
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#supplementary">Supplementary feeding</a></li>  
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#insects">Managing grassland for insects, reptiles and butterflies</a></li>  
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#undesirable">Managing undesirable plants</a></li> 
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#legal">Legal requirements</a></li> 
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#evidence">Evidence, further reading and sources of support</a></li>             
            </ol>
          </nav>
        </aside>

        <!-- MAIN CONTENTS --> 

        <h2 class="govuk-heading-l"><a name="where">Where can you find purple moor-grass and rush pasture?</a></h2>

        <p>You will find this grassland across the lowlands with main concentrations in Devon and Cornwall, the Somerset Levels, the New Forest and East Anglia. They are found:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>on poorly draining neutral to acid soils receiving high rainfall, particularly in the west of the country</li>
          <li>on low lying wet peat and peaty mineral soils, mainly in the east</li>
          <li>alongside scrub and woodland, wet woodland, wet heath and fen</li>
        </ul>

        <p>You may know these grasslands by a local name. These include ‘culm grassland’ or ‘wet lawns’ in the South West and ‘fen’ or ‘litter meadows’ in East Anglia. ‘Rhôs pasture’ is used in Wales, although this may describe heath and peatland habitats. </p>

        <h2 class="govuk-heading-l"><a name="what">What is purple moor-grass and rush pasture?</a></h2>

        <p>It is wet tussocky grassland, found on flat or gently sloping land. It is usually used as rough grazing for beef cattle or horses in the drier summer months.</p>

        <p>Your grassland is likely to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be dominated by rushes or purple moor-grass </li>
          <li>contain other grasses and sedges</li>
          <li>variety of wildflowers which might include meadow buttercup, meadow thistle, devil’s-bit scabious, ragged-robin and orchids</li>
          <li>support a number of mosses and liverworts</li>
          <li>have wetter areas which may contain yellow iris and marsh marigold</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="why">Why managing purple moor-grass and rush pasture is important</a></h2>

        <p>Maintaining these pastures on your land can help to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>enable a wider variety of plants to flourish than on more intensively farmed land</li>
          <li>provide areas for birds to feed, roost and raise chicks including waders like lapwing, curlew and snipe</li>
          <li>support a range of specialist invertebrates which rely on this habitat’s diverse structure, including the declining marsh fritillary butterfly</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="success">How do you know when you are successful?</a></h2>

        <p>These grasslands will vary depending on their management history, soil type and hydrology. Conditions will change throughout the year although you will generally know the management is right when you see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a diverse sward of shorter areas interspersed with taller tussocks on grazed pasture</li>
          <li>a large range and high density of flowering plants as well as some mosses and liverworts</li>
          <li>scrub and tree cover is scattered and only covers small areas of the field</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="spring">Spring</a></h2>

        <p>If grazing is right you will see:</p>
         <ul class="govuk-list govuk-list--bullet">
          <li>tussocks of purple moor-grass and rush between ankle and knee-height scattered across damper places</li>
          <li>small areas of bare ground such as hoof marks particularly in wet places</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="summer">Summer</a></h2>

        <p>If grazing is right you may see:</p>
         <ul class="govuk-list govuk-list--bullet">
          <li>greater burnet, ragged robin, greater bird’s-foot-trefoil, tormentil, lesser spearwort and a variety of orchids</li>
          <li>curlew incubating eggs in June and young chicks still on the ground in late July or early August</li>
          <li>butterflies including large skipper, ringlet, green hairstreak and marbled white flitting between wildflowers</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="autumn">Autumn</a></h2>

        <p>If grazing is right you fill find:</p>
         <ul class="govuk-list govuk-list--bullet">
          <li>some plants still in flower including purple moor-grass, devil-bit’s scabious, bog asphodel, angelica and sneezewort</li>
          <li>birds and insects using scrub for shelter and food</li>
          <li>scattered areas of dense litter which will be used by over-wintering insects and mammals</li>
          <li>wetter conditions increasing towards the end of autumn - grazing stock should now be absent</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="considerations">Considerations for successul management</a></h2>

        <p>Purple moor-grass and rush pasture needs grazing or cutting to maintain the habitat and create the right conditions for flowers to flourish.</p>

        <h3 class="govuk-heading-m">Grazing</h3>

        <p>Your judgement about livestock numbers at different times of the year is crucial to getting the best from this type of grassland.</p>

        <h3 class="govuk-heading-m">Things to look out for</h3>

        <p>Grazing levels are too high if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your sward is less than 5cms over most of the land</li>
          <li>wildflowers are rare and confined to tussocky vegetation</li>
          <li>there are large patches of bare ground or heavily poached areas</li>
          <li>scrub is absent</li>
        </ul>

        <p>Grazing levels are too low if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your sward is over 15cms in many areas</li>
          <li>grassland has become rank and is not palatable to livestock</li>
          <li>a dense thatch of dead grass and plant litter has built up, smothering new growth</li>
          <li>scrub is encroaching into the grassland</li>
        </ul>

        <h3 class="govuk-heading-m">Tips for success</h3>

        <p>You can consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>adjusting stocking rates throughout the year- a higher rate in the spring and early summer, reducing towards the autumn as vegetation growth declines</li>
          <li>lowering grazing pressure in late summer will allow flowering plants to set-seed</li>
          <li>monitoring the water levels on site – the wide variety of plants are dependent on waterlogged conditions and are sensitive to changes in the water table</li>
          <li>rotating grazing stock which are losing condition to more productive grasslands where possible</li>
          <li>the low sodium and calcium content of the forage makes these pastures unsuitable for sheep, particularly lactating ewes</li>
          <li>sheep are generally not suited to this type of pasture as they crop the sward too tightly and can suffer from diseases such as foot rot when grazing wet habitats</li>
          <li>sourcing suitable alternatives to Avermectin based wormers as these contain chemicals which remain active in the dung and impact invertebrates</li>
        </ul>

        <h3 class="govuk-heading-m">Cutting and burning</h3>

        <p>Cutting and winter burning can also be used where grazing has not been adequate or when the grassland is not in good condition to begin with. Both methods encourage new growth which is palatable for grazing. They reduce the dominance of vigorous plants, manage scrub and help retain an open sward.</p>

        <p>Where these tasks need to be carried out, consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>carrying out any cutting required in the late summer or early autumn to allow flowering plants to seed and to avoid disturbance to nesting birds</li>
          <li>burning as an alternative to cutting only where it has been used as a traditional method</li>
          <li>avoiding cutting or burning more than one third of a site in any one year as sudden changes to the vegetation structure can harm invertebrates</li>
          <li>cutting or burning a maximum continuous area of two hectares, more details on good practice can be found in the heather and grass burning code</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="tree">Tree and scrub management</a></h2>

        <p>Encourage the growth of scattered clumps of trees and scrub.  These will help to attract birds which enjoy a mix of habitats. Where trees and scrub are spreading on to purple moor-grass and rush pasture you may need to increase grazing levels or remove trees and scrub by hand.  This will help to conserve the typical wildflowers in the grassland. Find further information in Guidance note: management of scrub and trees.</p>

        <h2 class="govuk-heading-l"><a name="sowing">Sowing wildflowers</a></h2>

        <p>You can introduce wildflowers to increase the range of species present. This can be done by spreading flower rich grass from nearby purple moor-grass and rush pasture, sowing seeds or using plug plants. Further information is available in the Guidance note: increasing flowers in grassland.</p>

        <h2 class="govuk-heading-l"><a name="manure">Manure, fertiliser and lime</a></h2>

        <p>The application of manure, fertiliser or lime will encourage vigorous grasses and rushes to outcompete typical wildflowers. This will lead to the loss of many of the species that make this habitat rare.</p>

        <h2 class="govuk-heading-l"><a name="supplementary">Supplementary feeding</a></h2>

        <p>Avoid supplementary feeding your livestock unless required for animal welfare reasons, for example during cold weather. It increases the risk of poaching by livestock which damages the grassland and soil structure. Routine use of energy feed also suggests that livestock numbers are too high.</p>

        <p>When feeds are used you can avoid extensive damage by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>changing the location of mineral feed sites each time you put feed out</li>
          <li>avoiding wetter areas and areas that are rich in wildflowers</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="insects">Managing grassland for insects, reptiles and butterflies</a></h2>

        <p>These species need a mix of habitats to enable them to survive and complete their life cycle. You can help by managing these grasslands to have:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>flowers which provide nectar for food</li>
          <li>grass and rushes at a range of heights for shelter, food and nesting</li>
          <li>some scrub for shelter, food and nesting</li>
          <li>small areas of bare ground for nesting, burrowing and basking</li>
        </ul>

        <p>Further information is available in Guidance note: managing grassland for insects, reptiles and butterflies.</p>

        <h2 class="govuk-heading-l"><a name="undesirable">Managing undesirable plants</a></h2>

        <p>Controlling vigorous species such as creeping thistle, broad-leaved dock and common ragwort will provide space for wildflowers to grow and livestock to graze. Further information can be found in Guidance notes: controlling undesirable species.</p>

        <h2 class="govuk-heading-l"><a name="legal">Legal requirements</a></h2>

        <p>You will need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>obtain consent from the Environment Agency if you need to use herbicides near rivers and streams</li>
          <li>consult Natural England before altering any aspect of your management if your site is a Site of Special Scientific Interest (SSSI)</li>
          <li>check the heather and grass burning code to see if you need a licence if burning heather</li>
        </ul>

        <h2 class="govuk-heading-l"><a name="evidence">Evidence, further reading and sources of support</a></h2>

        <p>Lowland grassland management handbook Natural England</p>
        <p>Wet grassland practical manual: breeding waders RSPB</p>
        <p>Managing purple moor-grass and rush pasture Buglife</p>
        <p>Reptile Habitat Management Handbook Amphibian and Reptile Conservation (ARC)</p>
        <p>Fen Management Handbook</p> 


      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <!-- <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li> -->
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li>
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}