{% extends "layout.html" %} 

{% block beforeContent %}
  <a class="govuk-back-link" href="../index">Back to guidance index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Bird management overview</h1>

      <p class="govuk-body-l">An overview of how to meet the nesting and food requirements of birds on your land.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#">Bird management on your land</a>
              <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#">How to choose which birds to manage</a></li>
                </ol>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#">Bird management at landscape scale</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#">How to manage different types of birds</a></li>
          </nav>
        </aside>

        <p>For birds to survive and breed successfully, they must have:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>access to winter food</li>
          <li>spring food suitable for chicks and adults</li>
          <li>different types of nesting habitats</li>
        </ul>

        <h2 class="govuk-heading-l">Bird management on your land</h2>
        <p>Why it is important</p>
        <p>Examples of management techniques</p>
        <h3 class="govuk-heading-m">How to choose which birds to manage</h3>
        <p>Example plan, eg first step, second step etc</p>
        <p><a href="#">What to do if you have bespoke bird species on your land</a></p>


        <h2 class="govuk-heading-l">Bird management at landscape scale</h2>
        <p>Caring for birds that are not on your land</p>
        <p>Working with other land managers</p>
        <p><a href="#">Find out more about working with other land managers</a></p>

        <h2 class="govuk-heading-l">How to manage different types of birds</h2>
        <p>There is specific guidance for managing different types of birds, such as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="birds-on-farmland-rewrite">farmland birds</a></li>
          <li><a href="#">wading birds</a></li>
          <li><a href="#">upland birds</a></li>
          <li><a href="#">woodland birds</a></li>
        </ul>
        


        

                

        



                
      </div>
    </div>
  </div>
{% endblock %}
