{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

  <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</h1>
      <p class="govuk-body-l">Find out how to reduce sediment in water bodies by providing livestock with troughs, pasture pumps, ram pumps, and associated pipework.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 26 February 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

      <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
        <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
          <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#benefits">How this will benefit the environment</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#install-trough-pipework">Install a trough and associated pipework</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#install-pasture-pump">Install a pasture pump</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#install-ram-pumps">Install ram pumps</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#keeping-records">Keeping records</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#elm">Use this action for Environmental Land Management (ELM)</a></li>
            </ol>
        </nav>
      </aside>

      <!-- MAIN CONTENTS -->

      <h2 class="govuk-heading-l"><a name="benefits">How this will benefit the environment</a></h2>

        <p>If you provide livestock with an alternative to drinking from watercourses and ponds, it can reduce:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>bank erosion</li>
          <li>sediment pollution</li>
          <li>the faecal contamination of watercourses</li>
        </ul>


      <h2 class="govuk-heading-l"><a name="install-trough-pipework">Install a trough and associated pipework</a></h2>

        <p>Place the trough:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>on hard-standing or on well-drained soil to avoid unnecessary trampling (poaching), erosion or runoff</li>
          <li>away from features through which organic manures and sediment could enter waterways</li>
        </ul>

        <p>Troughs should not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>allow overflow or leaks to contribute to runoff, ponding or erosion in the field</li>
          <li>damage historic or environmental features identified in the HEFER</li>
        </ul>

        <p>Do not lay pipes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>under housing or roof structures</li>
          <li>within 10m of watercourses</li>
          <li>on areas vulnerable to soil erosion as identified on the Farm Environment Record (FER)</li>
          <li>within 6m of historic or archaeological features identified in the HEFER</li>
        </ul>

      <h2 class="govuk-heading-l"><a name="install-pasture-pump">Install a pasture pump</a></h2>

        <p>Pasture pumps can lift water up to around 5m and pump to a distance of up to 50m. One pump can serve 10 to 15 cattle.</p>

        <h3 class="govuk-heading-m"><a name="best-results-pump">How to get the best results from the pump</a></h3>

        <p>It may be necessary to train livestock to use the pump.</p>

        <h3 class="govuk-heading-m"><a name="winter-pump">What to do with the pump in the winter</a></h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>remove the pump and store it during the winter to guard against frost damage</li>
          <li>make sure the pump is available for inspection after it is removed</li>
        </ul>

      <h2 class="govuk-heading-l"><a name="install-ram-pumps">Install ram pumps</a></h2>

        <p>A ram pump uses the power of flowing water to pump a smaller quantity of water at a much higher pressure. Ram pumps do not need fuel or electricity as they run entirely on water. Use a ram pump to pump fresh water from a stream to a head tank or reservoir.</p>

        <h3 class="govuk-heading-m"><a name="where-install-ram">Where to install the pump</a></h3>

        <p>Install the pump on a site with enough hydraulic head and a consistent water supply throughout the year.</p>

        <h3 class="govuk-heading-m"><a name="how-operate-pump">How to operate the pump</a></h3>

        <p>Ram pumps can pump over large distances, but they need a buffer tank at the top of the system. The water entering the pump must have a low sediment content, or the resulting abrasion will lead to excessive wear and tear. Reduce the amount of sediment by using a sedimentation tank.</p>

      <h2 class="govuk-heading-l"><a name="keeping-records">Keeping records</a></h2>

        <p>We may ask you for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>any consents or permissions connected with the work</li>
          <li>receipted invoices, or bank statements</li>
          <li>photographs of site before works start</li>
        </ul>

        <p>You should keep:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>photographs of the site during the different stages of construction or contracts</li>
          <li>invoices or other documents confirming the technical specification for the completed works</li>
          <li>photographs of the completed works in place and installed</li>
        </ul>

      <h2 class="govuk-heading-l"><a name="elm">Use this action for Environmental Land Management (ELM)</h2>

        <p>This guidance describes an action that can be used as part of an ELM agreement.</p>
        <p><a href="../../tier1-v2">Apply for ELM</a> or <a href="../../grant-finder">find other ELM actions</a>.</p>

      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li>
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <!-- <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li> -->
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}