{% extends "layout.html" %} 

{% block beforeContent %}
  <a class="govuk-back-link" href="../index">Back to guidance index</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Corn bunting management</h1>
      <p class="govuk-body-l"></p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      
      <div class="dashboard-main">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#about-corn-buntings">About corn buntings</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#essential-resources">Essential resources for corn buntings</a>
                <ol class="gem-c-contents-list__list">
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#nesting-habitat">Nesting habitat</a></li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#spring-summer-food">Spring and summer food</a></li>
                  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#winter-food">Winter food</a></li>
                </ol>
              </li>
            </ol>

          </nav>
        </aside>

        <h2 id="about-corn-buntings" class="govuk-heading-l">About corn buntings</h2>

        <p>Corn buntings are in the <a href="../rewrites/arable-farmland-birds-rewrite">arable farmland bird</a> group as a bespoke species. Corn buntings have declined by 90% since the early 1970s and they are now missing from over half of their former UK range.</p>        
        <p>Corn buntings like open, arable and mixed farmland. They mainly nest in crops, especially well-grown cereals, from June onwards.</p>
        <p>Adult birds mostly eat seeds. During summer they also need to find enough insects and spiders to feed their chicks. In winter birds flock together and look for places with plenty of seed food. They also roost together in cover, such as in weedy stubble fields.</p>

        <h2 id="essential-resources" class="govuk-heading-l">Essential resources for corn buntings</h2>

        <p>Corn buntings need 3 essential resources:</p>
        
        <h3 id="nesting-habitat" class="govuk-heading-m">Nesting habitat</h3>
        <p>Corn buntings like to nest in dense vegetation in cereal crop.</p>
        <p>To create nesting sites for corn buntings, provide at least 1ha of weedy, spring sown cereal crops per 100ha of farmland. If you leave these areas unharvested, you will also provide seed food over winter.</p>
        <p>If your land is unsuitable for spring sowing, you can encourage corn buntings to nest in your crops by double-drilling strips in the middle of autumn sown cereals. This creates dense areas of vegetation within the crop, which are attractive for nesting.</p>


        <h3 id="spring-summer-food" class="govuk-heading-m">Spring and summer food</h3>
        <p>To feed their chicks, corn buntings need a source of abundant and available insect and spider food that is within 250m of their nest. You can supply this through flower-rich, nectar mix or grass margins and plots, next to suitable nesting habitat. You should provide at least 1ha of these margins and plots per 100ha of farmland.</p>
        <p>You can increase the amount of insects on your farm by using the following techniques:</p>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Flower-rich margins and plots</span>
          </summary>
          <div class="govuk-details__text">
            <p>A margin or plot of perennial wildflowers will attract a wide range of insects. These areas provide insects with both shelter and pollen and nectar food. As well as benefitting corn buntings, these margins and plots will also help pollinators and other beneficial insects on your farm.</p>
          </div>
        </details>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Nectar plots</span>
          </summary>
          <div class="govuk-details__text">
            <p>A sown plot or margin of flowers that provides pollen and nectar for insects and spiders throughout the summer.</p>
          </div>
        </details>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Grass margins</span>
          </summary>
          <div class="govuk-details__text">
            <p>Grass margins around the edges of fields provide a habitat for many insect species. Where margins are particularly wide and dense, corn buntings may also nest in these grass margins.</p>
          </div>
        </details>

        <h3 id="winter-food" class="govuk-heading-m">Winter food</h3>
        <p>To survive winter, corn buntings need to find enough seeds to eat. This is especially difficult for them during the ‘hungry gap’, between January and early spring. You can provide winter food for corn buntings using the following techniques. Use more than one of these techniques to make it more likely that you will be able provide food throughout winter and up to spring.</p>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Winter food bird plots</span>
          </summary>
          <div class="govuk-details__text">
            <p>You can adapt winter bird food plots to produce seed that is attractive to corn buntings. You should aim to provide at least 2ha of annual, cereal-based winter bird food plots per 100ha of farmland. Plots which are at least 48m wide and contain 60% barley are most beneficial for corn buntings.</p>
            <p><a href="winter-food-plots-corn-buntings-rewrite">Learn more about winter food plots for corn buntings</a></p>
          </div>
        </details>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Overwinter stubble</span>
          </summary>
          <div class="govuk-details__text">
            <p>Stubble fields provide winter foraging habitat for corn buntings. Stubbles which give the most seed follow low-input spring barley crops, where pre-harvest desiccants or post-harvest herbicides are not used. Stubbles provide less seed than winter bird food plots per unit area. So you will need to provide 10ha per 100ha of farmland to meet the needs of corn buntings during winter.</p>
          </div>
        </details>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Supplementary feeding</span>
          </summary>
          <div class="govuk-details__text">
            <p>Supplementary feeding helps corn buntings find enough food through the ‘Hungry Gap’. You should feed between December and April, on suitable ground on or near to winter bird food plots or stubbles. Sites close to cover such as hedges or scrub will attract more birds.</p>
          </div>
        </details>

        

        <!-- <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header app-custom-class" scope="col"><p>Requirements</p></th>
              <th class="govuk-table__header app-custom-class" scope="col"><p></p></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><p>Management techniques</p></th>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li><a class="govuk-link" href="#">
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell" scope="row"><p>Additional information</p></th>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table> -->



                
      </div>
    </div>
  </div>
{% endblock %}
