{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Thriving arable plants: cultivated margins and plots</h1>
      <p class="govuk-body-l">Find out how to grow rare and declining wild plants by cultivating arable land.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 26 February 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#about">About arable plants</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-do">How do I find out if I have arable plants</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#benefits">Benefits of cultivating land for arable plants</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-to">How to cultivate land for arable plants</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what">What a cultivated margin or plot should look like</a></li>              
            </ol>
          </nav>
        </aside>

        <!-- MAIN CONTENTS --> 

        <h2 class="govuk-heading-l" ><a name="about">About arable plants</a></h2>

        <p>Arable plants are rare wild plants that grow on land that is used, or is suitable for, growing crops. They include species such as field madder, dwarf spurge and corn buttercup.</p>

        <p>You can plough fields (known as plots) and edges of fields (called margins) in a way that encourages arable plants to grow.</p>

        
        <h2 class="govuk-heading-l"><a name="how-do">How do I find out if I have arable plants on my land?</a></h2>

        <p>Arable plants can be found on unfertilised land, such as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the outer edges of a field of broad-leaved crops</li>
          <li>on tracks</li>
          <li>at the bases of telegraph poles</li>
        </ul>
        <p>Most rare arable plants are found in the east and south-west of England. Even if you have not seen them, it’s possible that seeds are underground. Find out if you live in a rare arable plant ‘hotspot’ on the <a href="https://www.plantlife.org.uk/application/files/5014/8155/5269/ARABLE_PLANTS_-_a_management_guide.pdf">Plantlife</a> website. Local record centres are also a good source of information.</p>

        <h2 class="govuk-heading-l"><a name="benefits">Benefits of cultivating land for arable plants</a></h2>

        <p>By creating cultivated areas, you will be giving rare and declining plants space to grow, which will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>stop them from disappearing from our landscape altogether</li>
          <li>supply nectar and pollen for pollinating insects</li>
          <li>provide food and shelter for insects and farmland birds such as turtle doves</li>
          <li>add colour to the landscape</li>
        </ul>

        <p>Consider also providing winter bird food and nesting plots for ground nesting birds as you will then begiving farmland birds and insects everything they need forthe whole year.</p>

        <h2 class="govuk-heading-l"><a name="how-to">How to cultivate land for arable plants</a></h2>

        <p>You can create cultivated areas as field margins or larger plots on a part or whole field basis. Big plots are best located in places where you know you have several species of arable plants across a large area.</p>

        <p>Avoid applying fertiliser as this will encourage competition from weeds. Having a buffer between your cultivated area and arable crop can help reduce fertiliser drift.</p>

        <h3 class="govuk-heading-m">Where to cultivate</h3>

        <p>If you’ve seen arable plants, you should cultivate the areas you have found them. Keep the plot in the same place (a non rotational plot) unless you have problems with weeds or crop diseases, when rotating the plot may be better.</p>

        <p>If you know what plants you’re trying to grow, but haven’t seen them, use the guidance on preferred soil types to locate your plots on the right type of soil.</p>

        <p>If you're in an arable plant 'hotspot' but unsure what plants you'll be able to grow, you should locate your plot in:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>open, sunny locations</li>
          <li>the outermost 6 metres of your fields, next to track and boundaries</li>
          <li>areas at the top of slopes as the soil is often shallow, and the subsoil less fertile and productive</li>
          <li>fields that have a long history of cultivation as some arable plant seeds can survive for long periods in the soil</li>
        </ul>

        <p>You should avoid:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>cool, north-facing shaded locations, as most seeds will not germinate</li>
          <li>land with perennial and arable grass weed problems as these will stop arable plants from growing</li>
        </ul>

        <p>When you’re trying to grow plants you haven’t seen on your land before, you should move your plot from time to time and return the land to conventional cropping. This will increase your chances of:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>discovering new arable plants</li>
          <li>controlling weeds and crop diseases</li>
        </ul>

        <h3 class="govuk-heading-m">When to cultivate</h3>

        <p>If you know what plants you’re trying to grow, read the guidance on managing your land for arable plants to find out the best times to start and end cultivation.</p>

        <p>If you know you have plants that germinate in the spring and the autumn, then it’s best to vary the timing of cultivation between different plots each year. This should help to grow the widest mix of species.</p>

        <p>If you don’t know what arable plants you have, then varying the cultivation between spring and autumn can encourage a wider range of species.</p>

        <p>If you don’t know what plants you have, you can leave the cultivated areas in place until the end of August. This will allow most species to complete their life cycle and set seed.</p>

        <h3 class="govuk-heading-m">What depth to cultivate to</h3>

        <p>Read the guidance on managing your land for arable plants to find out the best depth to cultivate for the plant you’re trying to grow.</p>

        <p>If you don’t know which plant species you have, randomly vary the cultivation depth between 5cm and 15 cm every 2 or 3 years. This should encourage the greatest number of species.</p>

        <h3 class="govuk-heading-m">How to control weeds</h3>

        <p>Weeds might grow in your cultivated area, especially in the first year. Over time, as nutrient levels decrease, so will the weeds.</p>

        <p>Read the guidance on the best weed control methods.</p>

        <h2 class="govuk-heading-l"><a name="what">What a cultivated margin or plot should look like</a></h2>

        <p>You will know you’ve been successful when you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>see arable plants and seeds every year from mid-April to the end of August</li>
          <li>open patches with some bare areas and shorter vegetation, giving birds easy access to seeds on the ground</li>
          <li>bees, wasps, hoverflies and  butterflies foraging for pollen and nectar</li>
        </ul>






      </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <!-- <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li> -->
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li>
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}