{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">A10: Create flower-rich margins and plots</h1>
      <p class="govuk-body-l">Use this guidance to help you create flower-rich areas on your land. Flower-rich plots provide food, shelter and nesting places for farmland birds and insects. Using in combination with cultivated areas for arable plants, nectar flower rich mix or winter bird food will give extended benefits to wildlife throughout spring, summer and autumn.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 08 March 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#create">Create flower-rich margins and plots</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#why">Why provide flower-rich margins or plots?</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#where">Where to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#considerations">Considerations for margin and plot establishment</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how">How to sow</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#first">First year management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#ongoing">Ongoing management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#first">First year management</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#successful">How a successful margin or plot should look</a></li>
            </ol>
          </nav>
        </aside>

      <!-- MAIN CONTENTS -->      

      <h2 class="govuk-heading-l"><a name="create"></a>Create flower-rich margins and plots</h2>
      <p>Use this guidance to help you create flower-rich areas on your land. Flower-rich plots provide food, shelter and nesting places for farmland birds and insects. Using in combination with cultivated areas for arable plants, nectar flower rich mix or winter bird food will give extended benefits to wildlife throughout spring, summer and autumn.</p>
      <h2 class="govuk-heading-l"><a name="why"></a>Why provide flower-rich margins or plots?</h2>
      <p>Pollinators such as bees, and many farmland birds are declining. By creating flower-rich margins and plots you will be helping insects and birds survive and thrive. Flower-rich areas provide nectar and pollen for insects, and supply food and shelter for farmland birds and their chicks. Flower-rich patches are good to look at, adding splashes of colour to the landscape. The areas usually only need establishing once, and over time should keep getting better.</p>
      <h2 class="govuk-heading-l"><a name="where"></a>Where to sow</h2>
      <p>Flower rich plots and margins can be grown in all soil types.
      <p>For best results consider:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>open, sunny locations, either in-field or next to field boundaries</li>
        <li>low fertility sites</li>
      </ul>
      <p>It is best if you avoid:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>locations with perennial and arable grass weed problems as these will outcompete the flowers</li>
        <li>sites high in nutrients as these will encourage broad-leaved weeds such as chickweed and coarse grasses</li>
        <li>shaded, cold, wet north and east facing plots as these can encourage pests, lead to poor establishment and attract less insects</li>
        <li>areas that are known to support rare arable plants</li>
      </ul>
      <p>If you use locations with weed problems, control weeds before sowing. Further information on controlling undesirable weeds can be found in the weed control section below.</p>

      <h2 class="govuk-heading-l"><a name="considerations"></a>Considerations for margin and plot establishment</h2>
      <h3 class="govuk-heading-m">Plot size</h3>
      <p>You can create flower-rich areas as margins, strips or bigger plots. Establishing larger areas of between 0.25 and 0.5 ha will help insects move away from the application of sprays and fertilisers. Bigger blocks can make it easier to manage the plots and benefit the landscape if created along a whole boundary.</p>
      <p>Evidence suggests that small solitary bees can fly up to 250m between nectar and pollen sources, so consider how you space your plots. For example, within a 100 ha area, if you locate five 0.5 ha patches evenly, you will be helping to ensure that insects get the food and fuel they need.</p>
      <h3 class="govuk-heading-m">When to sow</h3>
      <p>The best results should come if you sow from April-May or July-end of August. Most flower-rich seed mixtures develop slowly, so need at least 12 weeks between sowing and the onset of serious frosts. To ensure germination the soil temperature should be at least 70 C when the seeds are sown.</p>
      <h3 class="govuk-heading-m">What to sow</h3>      
      <p>It is best if you sow a mix containing at least 20% flowering species to grasses. This should ensure that there are sufficient plants flowering over several years. A seed mix with less flowers will need additional management. To avoid grasses outcompeting flowers, vigorous species such as ryegrass, meadow fescue and cock’s foot should be avoided. Fine-leaved grasses including sweet vernal grass, creeping bent and red fescue should give good results.</p>
      <h3 class="govuk-heading-m">Seed rate</h3>
      <p>The appropriate seed rate will depend on the situation on your land:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>weed pressure –higher seed rate if higher weed burden</li>
        <li>soil type –higher rate if heavier soils</li>
        <li>aspect – lower seed rate if sunny, open location</li>
        <li>soil nutrient status –lower seed rate if low nutrient levels</li>
      </ul>
      <p>Guidelines for seed rates vs soil type:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>light, chalky and sandy soils – 10-15 kg/ha</li>
        <li>medium soils -15-20 kg/ha</li>
        <li>heavy soils -20-25 kg/ha</li>
      </ul>
      <h2 class="govuk-heading-l"><a name="how"></a>How to sow</h2>
      <h3 class="govuk-heading-m">Create your seedbed</h3>
      <p>Aim to produce a firm, fine and level seedbed – this will ensure even germination and establishment. For best results the seedbed should be warm and contain some moisture.</p>
      <h3 class="govuk-heading-m">Sowing</h3>
      <p>Flower-rich plots and margins will germinate best when broadcast or drilled onto the surface. It is best to avoid sowing seeds too deep. If drilling, drill at less than 1cm deep.</p>
      <p>Consider sowing 50% of the seed across the plot and the other 50% at around a 90 degree angle. This will achieve a more even distribution of grasses and flowers. Mixing the seed beforehand will also help even out the distribution.</p>
      <p>If the soil is dry enough it is best if you ring roll after broadcasting. This will improve seed to soil contact, help retain moisture and reduce risk of slug damage.</p>
      <h2 class="govuk-heading-l"><a name="first"></a>First year management</h2>
      <p>Good management in the first year should ensure that your flower-rich areas establish and thrive. Controlling weeds will encourage the growth of flowers, preventing them being smothered. Cutting 3--5 times in the summer after sowing will limit annual weeds and encourage flowers to develop. It is best if you undertake the first cut when the weeds are growing above the seedlings.</p>
      <h2 class="govuk-heading-l"><a name="ongoing"></a>Ongoing management</h2>
      <p>Like any crop, management of your flower-rich areas will be needed for successful establishment. Cutting and or grazing will control weeds and clear dead material.</p>
      <h3 class="govuk-heading-m">Cutting</h3>
      <p>Varying the cutting dates will extend the flowering period. It will provide a range of vegetation heights throughout the season, benefiting a greater number of insect species. Consider:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>alternating cuts, with an early cut around mid-June: 1 year in 3, and a late cut from mid-August: 2 years out of 3</li>
        <li>leaving at least 10% uncut –this will provide a refuge for insects and other wildlife</li>
        <li>occasional spring cut –this will limit the growth of weeds and coarse grasses, helping some flowers to flower early</li>
        <li>removing cut material, if there is a large amount – this will reduce nutrients, supress weeds and vigorous grasses</li>
      </ul>
      <h3 class="govuk-heading-m">Grazing</h3>
      <p>If you have livestock, grazing your flower-rich areas can help recycle nutrients and improve vegetation structure. Grazing will open gaps, giving space for flowers to spread. For best results:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>remove livestock in the spring and early summer to allow flowers to set seed</li>
        <li>monitor and remove livestock if vegetation height get below 10cm to avoid overgrazing</li>
      </ul>
      <h3 class="govuk-heading-m">Fertiliser</h3>
      <p>You should avoid applying fertiliser. This will help plants emerge without too much competition from weeds such as black-grass, couch grass, creeping thistle, docks and nettles.</p>
      <h3 class="govuk-heading-m">Weed Control</h3>
      <p>If your plots or margins become dominated by undesirable weeds there are several options that you can try. Annual weeds can be controlled by cutting regularly in the first 12-18 months. Perennial weeds can be managed by spot treatment with herbicide, hand removal or localised repeat cutting. Consider using a selective graminicide if grasses are outcompeting the flowers.</p>
      <h3 class="govuk-heading-m">pest control</h3>
      <p>Slugs can be a problem during establishment of your plots. The most effective slug control measure is to produce a firm, level seedbed and rolling after sowing.</p>
      <p>Slug pellets can accidentally poison non-target species and contaminate surface ground waters if not applied correctly. You should only use them as a last resort. If you plan to use slug pellets:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>carry out test baiting first to confirm damaging slug population thresholds are being exceeded</li>
        <li>consider using ferric phosphate based pellets which are less toxic to other wildlife</li>
        <li>always apply metaldehyde based pellets in accordance with current Metaldehyde Stewardship best practice <a href="https://www.getpelletwise.co.uk" target="_blank">https://www.getpelletwise.co.uk (opens in a new tab or window)</a></li>
      </ul>
      <h3 class="govuk-heading-m">What to do if margins or plots are unsuccessful</h3>
      <p>Where establishment is poor you may need to re-sow part or all of the plot. Broadcasting or very shallow drilling of seed into the existing sward may be sufficient for small areas. You may need to carry out light cultivation first to create some bare ground. Where the plot has failed on a larger scale then you may need to start again.</p>
      <h2 class="govuk-heading-l"><a name="successful"></a>How a successful margin or plot should look</h2>
      <p>You will know when your management is right when you have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>annual presence of flowers and seeds from April to September</li>
        <li>open sward with some bare ground and shorter vegetation which gives birds easy access to seeds on the ground</li>
        <li>bees and butterflies feeding on nectar</li>
        <li>birds such as yellowhammer and skylark foraging and eating seeds</li>
      </ul>
      <p>You see fine-leaved grasses and typical flowers such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>bright yellow of bird’s-foot trefoil and kidney vetch</li>
        <li>splashes of blue and purple of field scabious and wild marjoram</li>
        <li>ox- eye daisies and red clover amongst sweet vernal grass and sheep’s fescue</li>
      </ul>
    </div>

   <!-- RELATED CONTENT -->

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-or-restore-species-rich-grassland">A9: Create species-rich grassland to enhance habitats</a></li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}