{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your public goods
      </h1>

      {{ govukInsetText({
        html: "<p>The Forestry Commission recommend you fell 50% of <a href='manage-good?id=W17754'>Woodland ABC</a>. This may affect your ELM payments if you do not.</p>
        <p><a href='what-to-do'>Review the recommendation</a></p>"
      }) }}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Land id</th>
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for good in goods %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              {{ good.id }}
            </th>
            <td class="govuk-table__cell" scope="row">
              {{ good.name }}
            </td>
            <td class="govuk-table__cell">
              <a href="manage-good?id={{ good.id }}">Manage</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
