{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Your land management plan
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Elm Tree Farm's land management plan
      </h1>

      {{ govukInsetText({
        html: "<p>The Forestry Commission has recommended you fell 50% of Woodland ABC. This may affect your ELM payments if you do not.</p>
        <p><a href='what-to-do'>Review the recommendation</a></p>"
      }) }}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <!-- <th scope="col">ID</th> -->
            <th class="govuk-table__header" scope="col">Land designation</th>
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for good in goods %}
          <tr class="govuk-table__row">
            <!-- <td>{{ good.id }}</td> -->
            <th class="govuk-table__header" scope="row">{{ good.name }}</th>
            <td class="govuk-table__cell" scope="row">East woodland</td>
            <td class="govuk-table__cell"><a href="/good">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <!-- <td>{{ good.id }}</td> -->
            <th class="govuk-table__header" scope="row">LP7890</th>
            <td class="govuk-table__cell" scope="row">Upper field</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <!-- <td>{{ good.id }}</td> -->
            <th class="govuk-table__header" scope="row">LP2947</th>
            <td class="govuk-table__cell" scope="row">Lower field</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          {% endfor %}
        </tbody>
</table>

    </div>
  </div>

{% endblock %}