{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Agreement overview</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Willow Farm
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <div class="dashboard-main">

        <!-- {% if data['warning'] == "true" %}
        <div class="panel panel-border-wide alert-error">
          <h2 class="govuk-heading-s">Issue reported</h2>
          <p>The Forestry Commission has recommended you fell 50% of the woodland in W17754. This may affect your ELM payments if you do not.</p>

          <p><a href='what-to-do'>Review the recommendation</a></p>
        </div>
        {% endif %} -->


        <h2 class="govuk-heading-m">
          Your natural capital
        </h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Type</th>
              <th class="govuk-table__header" scope="col">Status</th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for good in goods %}

              <th class="govuk-table__header" scope="row">
                {{ good.type }}
              </th>
              <td class="govuk-table__cell" scope="row">
                {% if good.status and data['warning'] == "true" %}
                <strong class="govuk-tag govuk-tag--warn">
                  decision required
                </strong>
                {% elif good.status %}
                <strong class="govuk-tag govuk-tag--action">
                  action required
                </strong>
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                <a href="manage-good?id={{ good.id }}">Manage</a>
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>


    <div class="govuk-grid-column-one-third">

      <div class="app-related-items aside-links">
        <h2 class="govuk-heading-s">
          Manage account
        </h2>

        <ul class="govuk-list govuk-body-s">
          <li><a href="#0" class="govuk-link">Your land boundaries and parcels</a></li>
          <li><a href="#0" class="govuk-link">Account users</a></li>
          <li><a href="#0" class="govuk-link">Advisers</a></li>
        </ul>
      </div>

  </div>


  </div>
{% endblock %}
