{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="lmp">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">Natural capital details</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        {{ good.type }}
      </h1>

    </div>

    <div class="govuk-grid-column-two-thirds">
      <div class="dashboard-main">

        {% if data['warning'] == "true" and good.id == "1" %}
        <div class="panel panel-border-wide alert-error">
          <h2 class="govuk-heading-s">Issue reported</h2>
          <p>The Forestry Commission has recommended you fell 50% of this natural capital. This may affect your ELM payments if you do not.</p>

          <p><a href='what-to-do'>Decide what to do</a></p>
        </div>

        {% elseif good.id == "1" %}
        <div class="panel panel-border-wide alert-default">
          <h2 class="govuk-heading-s">Action required</h2>
          <p>You must complete the restock of this good by 10 June 2020.</p>

          <p><a href="apply-to-fell">Apply for a felling licence</a></p>
        </div>
        {% endif %}

        <!-- <h2 class="govuk-heading-m">
          Details
        </h2> -->
        <dl class="govuk-summary-list">
          {% if good.species %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Species
            </dt>
            <dd class="govuk-summary-list__value">
              {{ good.species }}
            </dd>
          </div>
          {% endif %}
          {% if good.issue %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Issue
            </dt>
            <dd class="govuk-summary-list__value">
              {{ good.issue }}
            </dd>
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total area
            </dt>
            <dd class="govuk-summary-list__value">
              {{ good.area }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Yearly value
            </dt>
            <dd class="govuk-summary-list__value">
              {{ good.value }}
            </dd>
          </div>
        </dl>

      </div>
    </div>



    <div class="govuk-grid-column-one-third">

      <div class="app-related-items aside-links">
        <h2 class="govuk-heading-s">
          Manage natural capital
        </h2>

        <ul class="govuk-list govuk-body-s">
          <li><a href="#0" class="govuk-link">Report issue</a></li>
        </ul>
      </div>

  </div>


  </div>
{% endblock %}
