{% extends "layout.html" %}

{% block pageTitle %}
  Create a new agreement for W17754
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="what-to-do">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="confirmation" method="post">

        <h1 class="govuk-heading-l">
          Create a new agreement
        </h1>

        <p>To keep getting payments for your woodland you must create a new agreement.</p>
        <p>You must also agree to complete the following steps.</p>

        <ul class="govuk-list govuk-list--number">
          <li>Apply for a felling licence</li>
          <li>Check eligibility for a grant (optional)</li>
          <li>Fell the woodland </li>
          <li>Restock the woodland </li>
        </ul>

        {{ govukWarningText({
          text: 'You must restock the woodland within 12 months to keep your payments',
          iconFallbackText: 'Warning'
        }) }}

        <input type="hidden" name="warning" value="false">

        {{ govukButton({
          html: 'Create a new agreement'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
