
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Guidance prototype
        <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
      </h1>{{releaseVersion | log }}
      <h2  class="govuk-heading-l">Goal</h2>
      <p class="govuk-body-l">Guidance</p>
      <h2 class="govuk-heading-l">Journeys and overview</h2>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
       </p>
    </div>
</div>

{% endblock %}
