
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Service prototype
        <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
      </h1>{{releaseVersion | log }}
      <p class="govuk-body-l">Incentivising woodland managers to encourage good behaviour and promote resilient woodland landscape.</p>
      <h2 class="govuk-heading-m">Scenario</h2>
      <p>A specialist woodland adviser from the Forestry Commision (FC) has diagnosed a tree disease within a woodland registered with the ELM programme.</p>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="v1">Start</a>
          </li>
          <!--<li>
            <a href="v1/lmp">Start woodland manager journey</a>
          </li>-->
        </ul>
       </p>
       <hr style="margin:3em 0">
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
