
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Design sprint prototype
        <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
      </h1>{{releaseVersion | log }}
      <h2  class="govuk-heading-l">Goal</h2>
      <p class="govuk-body-l">Our services should support and incentivise woodland managers toward good behaviours which delivers resilient woodland landscape.</p>
      <h2 class="govuk-heading-l">Journeys and overiew</h2>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/v1/storyboard">Scenario</a>
          </li>
          <li>
            <a href="/v1/lmp">Manage your ELM agreement</a>
          </li>
          <li>
            <a href="/v1/storyboard/end-to-end">End to end storyboard</a>
          </li>
          <li>
            <a href="/v1/storyboard/technical-overview">Technical overview </a>
          </li>
        </ul>
       </p>
    </div>
</div>

{% endblock %}
